@model IEnumerable<Eli.Models.tblTherapist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TherapistFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TherapistSurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TherapistBirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TherapistGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TherapistAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TherapistPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TherapistMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasscodeConfirm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TherapistFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TherapistSurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TherapistBirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TherapistGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TherapistAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TherapistPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TherapistMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasscodeConfirm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TherapistID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TherapistID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TherapistID })
        </td>
    </tr>
}

</table>
