@model IEnumerable<Eli.Models.tblReference>
@using Eli.Models;
@using System;
@using System.Collections.Generic;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/LinkStyle.css" rel="stylesheet" />
</head>
<body>
    @{ if (ViewBag.operate != null)
     {
        @Html.Partial("_Alert", new ViewDataDictionary { { "operate", ViewBag.operate }, { "type", ViewBag.type } })
     }
    }
    <div  class="links" >
        @Html.ActionLink("מטופלים", "IndexPatients", "Patient", new { n = "" }, new { @class = "link" })
        ->
        הפניות
        </div>

        <div align="right" dir="rtl">
            <div class="big"> הפניות </div>
            @{String name = ViewBag.Name; }
            <h4 class="medium"><b>  הפניות עבור: @name</b></h4>
            <div class="small" align="right"><b>חיפוש:</b></div>
            <div class="table-responsive">
                <table id="reference" class="display table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align: center;"> #</th>
                            <th style="text-align: center;">סיבה</th>
                            <th style="text-align: center;">סטטוס</th>
                            <th style="text-align: center;">פירוט</th>
                            <th style="text-align: center;">סוג</th>
                            <th style="text-align: center;">כיצד הגיע?</th>
                            <th style="text-align: center;">תאריך התחלה</th>
                            <th style="text-align: center;">עריכה</th>
                            <th style="text-align: center;">טיפולים</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1;}

                        @foreach (var item in Model)
                        {
                            if (@item.ReferenceNumber != 0)
                            {
                                <tr>
                                    <td> @count</td>
                                    <td> @item.ReasonReference </td>
                                    <td> @item.StatusReference </td>
                                    <td> @item.OtherStatus </td>
                                    <td> @item.AbuseType </td>
                                    <td> @item.ReferenceSource </td>
                                    <td> @item.StartDateReference.Value.ToString("dd-MM-yy") </td>
                                    <td style="text-align: center;">
                                        <a class="btn " data-toggle="modal" href="#@item.ReferenceNumber">
                                            <img src="~/Images/info.png" />
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="@Url.Action("IndexTreatment", "Treatment", new { rid = @item.ReferenceNumber, pid = @ViewBag.Id })">
                                            <img src="~/Images/parent.png" />
                                        </a>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
                <br /><br />
            </div>
        </div>
        @foreach (tblReference item in Model)
        {
            @Html.Partial("_PopUpReference", item, new ViewDataDictionary { { "pid", @ViewBag.Id }, { "name", @ViewBag.Name } });

        }
        <!-- Button trigger modal -->

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" style="float:right" data-target="#new">
            הוסף הפנייה חדשה
        </button>
        <br />

        <script>
            var table = $('#reference').DataTable();
            new $.fn.dataTable.KeyTable(table);
        </script>

</body>

</html>


