@model Eli.Models.tblTherapist

@using Eli.Models;

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<meta charset="utf-8">

@{string id;
 
string submit;
string str="";
string str1;
DateTime start = DateTime.Now;

if (Model.TherapistBirthDate == null)
{
    Model.TherapistBirthDate = start;
}

if (@Model.TherapistID == null)
{
    id = "new";
    submit = "צור";
    str = "הוספת מטפל חדש";
    str1 ="3" + @Model.TherapistID;
}
else
{
    id = @Model.TherapistID;
    submit = "שמור";
    string strTitle = Model.TherapistFirstName + " " + Model.TherapistSurName;
    str = "עריכת מטפל: " + @strTitle;
    str1 = "3" + @Model.TherapistID;
}
if (Model.UserName=="admin")
{
    str = "Admin - עריכת מנהל";
}
                     tblTherapist t = (tblTherapist)Session["Therapist"];

if (@Model.TherapistID != null && ((Model.UserName != "admin" && t.UserName == "admin") || t.UserName.ToString() != Model.UserName))
{
    str = " צפייה בפרטי המטפל: " + Model.TherapistFirstName + " " + Model.TherapistSurName;
}
}



<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:60%;">
        <div class=" modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 align="right " class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                <div class="medium" align="right"><u><b>@str </b></u></div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

    <fieldset align="right" dir="rtl">
                    @{if (@Model.UserName != "admin") { 
                        if (Model.TherapistID == null)
         {
            <label float:right class="description" for="element_1">
                תעודת זהות
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.TherapistID, new { StringLength = 9 })
                @Html.ValidationMessageFor(model => model.TherapistID)
            </div>
         }
         else
         {
            @Html.HiddenFor(model => model.TherapistID)
         }
                    
        <table >
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        שם פרטי
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        שם משפחה
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistFirstName)
                        @Html.ValidationMessageFor(model => model.TherapistFirstName)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistSurName)
                        <br />
                        @Html.ValidationMessageFor(model => model.TherapistSurName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        תאריך לידה
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        מגדר
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistBirthDate)
                        @Html.ValidationMessageFor(model => model.TherapistBirthDate)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div style="text-align:right; float:right;">
                        <select dir="rtl" class="element select" id="TherapistGender" name="TherapistGender" style="width: 300px; height: 30px">
                            @if (@Model.TherapistGender == "נקבה")
                            {
                                <option selected="selected" value="נקבה">נקבה</option>
                                <option value="זכר">זכר</option>
                            }
                            else
                            {
                                <option selected="selected" value="זכר">זכר</option>
                                <option value="נקבה">נקבה</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        כתובת
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        מספר טלפון
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistAddress)
                        <br />

                        @Html.ValidationMessageFor(model => model.TherapistAddress)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistPhoneNumber, new { StringLength = 10 })
                        <br />
                        @Html.ValidationMessageFor(model => model.TherapistPhoneNumber)
                    </div>
                </td>
            </tr>
        </table>





        <label float:right class="description" for="element_1">
            דואר אלקטרוני
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.TherapistMail)
            @Html.ValidationMessageFor(model => model.TherapistMail)
        </div>
                    }
        

                     tblTherapist ther = (tblTherapist)Session["Therapist"];
            if (ther.TherapistID.Equals(Model.TherapistID) || @Model.TherapistID == null)
            {
                            if (Model.UserName != "admin")
                            { 
                <label float:right class="description" for="element_1">
                    שם משתמש
                </label>
                <div float:right; dir="rtl" class="editor-field">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                            }
                            else
                            {
                                <br>
                            }
                <table>
                    <tr>
                        <td>
                            <label float:right class="description" for="element_1">
                                סיסמא
                            </label>
                        </td>
                        <td style="padding-right:2%;">
                            <label float:right class="description" for="element_1">
                                אימות סיסמא
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div float:right; dir="rtl" class="editor-field password">
                                @Html.PasswordFor(model => model.Passcode)
                                <br>
                                @Html.ValidationMessageFor(model => model.Passcode)
                            </div>
                        </td>
                        <td style="padding-right:2%;">
                            <div float:right; dir="rtl" class="editor-field password">
                                @Html.PasswordFor(model => model.PasscodeConfirm)
                                <br>
                                @Html.ValidationMessageFor(model => model.PasscodeConfirm)
                            </div>
                        </td>
                    </tr>
                </table>
                <br />
                <p>
                    <input type="submit" class="btn btn-primary btn-lg" onsubmit="return runSearch();" name="submit" value="@submit" />
                </p>
            }

            }
            </fieldset>
            }

        </div>
    </div>

    </div>
</div>

<script>
    $("input[data-val-length-max]").each(function (index, element) {
    var length = parseInt($(this).attr("data-val-length-max"));
    $(this).prop("maxlength", length);
    });
</script>

