@model Eli.Models.tblTherapist

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@{string id;
string submit;
string str;
if (@Model.TherapistID == null)
{
    id = "new";
    submit = "צור";
    str = "הוספת מטפל חדש";
}
else
{
    id = @Model.TherapistID;
    submit = "שמור";
    string strTitle = Model.TherapistFirstName + " " + Model.TherapistSurName;
    str = "עריכת מטפל: " + @strTitle;
}
}



<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:60%;">
        <div class=" modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 align="right " class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                <h4 align="right"><u><b>@str </b></u></h4>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

    <fieldset align="right" dir="rtl">
        @{ if (Model.TherapistID == null)
         {
            <label float:right class="description" for="element_1">
                תעודת זהות
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.TherapistID, new { StringLength = 9 })
                @Html.ValidationMessageFor(model => model.TherapistID)
            </div>
         }
         else
         {
            @Html.HiddenFor(model => model.TherapistID)
         }
        }
        <table>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        שם פרטי
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        שם משפחה
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistFirstName)
                        @Html.ValidationMessageFor(model => model.TherapistFirstName)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistSurName)
                        @Html.ValidationMessageFor(model => model.TherapistSurName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        תאריך לידה
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        מגדר
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistBirthDate)
                        @Html.ValidationMessageFor(model => model.TherapistBirthDate)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div style="text-align:right; float:right;">
                        <select dir="rtl" class="element select" id="TherapistGender" name="TherapistGender" style="width: 300px; height: 30px">
                            @if (@Model.TherapistGender == "נקבה")
                            {
                                <option selected="selected" value="נקבה">נקבה</option>
                                <option value="זכר">זכר</option>
                            }
                            else
                            {
                                <option selected="selected" value="זכר">זכר</option>
                                <option value="נקבה">נקבה</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        כתובת
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        מספר טלפון
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistAddress)
                        @Html.ValidationMessageFor(model => model.TherapistAddress)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.TherapistPhoneNumber, new { StringLength = 10 })
                        @Html.ValidationMessageFor(model => model.TherapistPhoneNumber)
                    </div>
                </td>
            </tr>
        </table>





        <label float:right class="description" for="element_1">
            דואר אלקטרוני
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.TherapistMail)
            @Html.ValidationMessageFor(model => model.TherapistMail)
        </div>
        <label float:right class="description" for="element_1">
            שם משתמש
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <label float:right class="description" for="element_1">
            סיסמא
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.Passcode)
            @Html.ValidationMessageFor(model => model.Passcode)
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-primary btn-lg" name="submit" value="@submit" />
        </p>
    </fieldset>
            }

        </div>
    </div>

    </div>
</div>

<script>
$("input[data-val-length-max]").each(function (index, element) {
var length = parseInt($(this).attr("data-val-length-max"));
$(this).prop("maxlength", length);
});
    </script>