@model IEnumerable<Eli.Models.tblTherapist>
@using Eli.Models;
@using System;
@using System.Collections.Generic;


        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <title></title>
            <meta name="viewport" content="width=device-width" />
            <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
            <script src="~/Scripts/DataTable/jquery.js"></script>
            <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
            <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
            <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            @Styles.Render("~/Content/bootstrapcss")
            @Styles.Render("~/Content/themes/base/css")
        </head>

        <body>
    
  


            <h4 align="left">@ViewBag.msg1</h4>
            <h4 align="left">@ViewBag.msg2</h4>
            <h4 align="left">@ViewBag.msg3</h4>
            <h2 align="center" style="color:blue">מטפלים</h2>
            <h4 align="right">:חיפוש</h4>
            <div dir="rtl">
                <table id="myTable" class="display nowrap table-bordered">
                    <thead align="center">
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">תעודת זהות</th>
                            <th style="text-align: center;">שם</th>
                            <th style="text-align: center;">כתובת</th>
                            <th style="text-align: center;">טלפון</th>
                            <th style="text-align: center;">פרטים נוספים</th>
                            <th style="text-align: center;">שליחה</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 500;}
                        @{ int count1 = 500;}
                        @foreach (var item in Model)
                        {
                            if (@item.TherapistID != null)
                            {
                                <tr align="center">
                                    <td> @{if (item.TherapistGender=="זכר"){
                                               <div>מטפל</div>
                                           }
                                           else
                                           {
                                            <div>מטפלת</div>
                                           }
                                        }
                                     </td>
                                    <td> @item.TherapistID </td>
                                    @{ String FullName = @item.TherapistFirstName + " " + @item.TherapistSurName;}
                                    <td> @FullName</td>
                                    <td> @item.TherapistAddress</td>
                                    <td> @item.TherapistPhoneNumber </td>
                                    <td>
                                        <a class="btn " src="~/Images/info.png" data-toggle="modal" data-target="#@item.TherapistID">
                                            <img src="~/Images/info.png" />
                                        </a>
                                    </td>
                                    <td>

                                        <a src="~/Images/info.png" data-toggle="modal" data-target="#@count">
                                            <img src="~/Images/info.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                            count++;
                        }
                    </tbody>
                </table>
            </div>

            @foreach (tblTherapist item in Model)
            {
                @Html.Partial("_Therapist", item);
            }

            @foreach (tblTherapist item in Model)
            {
                MailModel m = new MailModel();
                m.To = item.TherapistMail;
                m.id = count1;
                @Html.Partial("_mail", m);
                                 count1++;
            }

            <!-- Button trigger modal -->
            <br /> <br />
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" style="float:right" data-target="#new" >
                הוסף מטפל למערכת
            </button>   


            <script>

                var table = $('#myTable').DataTable();
                new $.fn.dataTable.KeyTable(table);

            </script>
             
        @if (Session["therapistID"] != null)
        {
            
        }

            else
               {
                    //Layout = "";
                    //Html.RenderAction("NotFound", "Error");
               }
        </body>
        </html>

        <script language='javascript' type='text/javascript'>
            var dataexists = @ViewBag.DataExists;

            $(document).ready(function() {
                alert("aaaa")
            })
        </script>