@model IEnumerable<Eli.Models.tblTherapist>
@using Eli.Models;
@using System;
@using System.Collections.Generic;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/themes/base/css")

    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
        <meta charset="utf-8">
        <link href='http://serve.fontsproject.com/css?family=Nehama:400'
              rel='stylesheet' type='text/css'>
</head>

<body>
    <script src="~/Scripts/notify.js"></script>
    <script>
        notify('@ViewBag.operate', '@ViewBag.type');
    </script>
    <button type="button" style="float: left;" title="שליחת הודעת תפוצה למטפלים" class="btn btn-default" data-toggle="modal" data-target="#sendtoall">
        <img src="~/Images/Mail-icon.png" />
    </button>
    <br />
    <h5 align="center" style="color:blue">מטפלים</h5>
    <h4 align="right">:חיפוש</h4>
    <div dir="rtl">
        <table id="myTable" class="display nowrap table-bordered">
            <thead align="center">
                <tr>
                    <th style="text-align: center;">#</th>
                    <th style="text-align: center;">תעודת זהות</th>
                    <th style="text-align: center;">שם</th>
                    <th style="text-align: center;">כתובת</th>
                    <th style="text-align: center;">טלפון</th>
                    <th style="text-align: center;">פרטים נוספים</th>
                    <th style="text-align: center;">שליחה</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (@item.TherapistID != null)
                    {
                        <tr align="center">
                            <td>
                                @{if (item.TherapistGender == "זכר")
                                {
                                    <div>מטפל</div>
                                }
                                else
                                {
                                    <div>מטפלת</div>
                                }
                                }
                            </td>
                            <td> @item.TherapistID </td>
                            @{ String FullName = @item.TherapistFirstName + " " + @item.TherapistSurName;}
                            <td> @FullName</td>
                            <td> @item.TherapistAddress</td>
                            <td> @item.TherapistPhoneNumber </td>
                            <td>
                                <a class="btn " src="~/Images/info.png" data-toggle="modal" data-target="#@item.TherapistID">
                                    <img src="~/Images/Information_32x32.png" />
                                </a>
                            </td>
                            <td>
                                @{
                                    string id = "1" + @item.TherapistID;
                                }
                                <a src="~/Images/info.png" data-toggle="modal" data-target="#@id">
                                    <img src="~/Images/Mail-32.png" />
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @foreach (tblTherapist item in Model)
    {
        @Html.Partial("_Therapist", item);
    }

    @foreach (tblTherapist item in Model)
    {

        MailModel m = new MailModel();
        m.To = item.TherapistMail;
        m.id = item.TherapistID;
        m.redirect = "therapist";
        @Html.Partial("_Mail", m);

    }

    @{MailModel mail = new MailModel();

    mail.redirect = "therapist";
    }
    @Html.Partial("_MailToAllTherapist", mail)
    <!-- Button trigger modal -->
    <br /> 
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" style="float:right" data-target="#new">
        הוסף מטפל למערכת
    </button>

    <script>

        var table = $('#myTable').DataTable();
        new $.fn.dataTable.KeyTable(table);

    </script>

    @if (Session["therapistID"] != null)
    {

    }

    else
    {
        //Layout = "";
        //Html.RenderAction("NotFound", "Error");
    }

</body>
</html>


