@model Eli.ViewModel.User

@{Layout = "~/Views/Shared/_LoginLayout.cshtml";}
 

@{ if (ViewBag.operate != null)
 {
    <script src="~/Scripts/notify.js"></script>
    <script>
        if (@ViewBag.operate!=""){
            alert('@ViewBag.operate');
            notify('@ViewBag.operate', '@ViewBag.type');
        }
    </script>
 }
}


<link href="~/Content/login.css" rel="stylesheet" />
            
                       

  <div class="container center" dir="rtl" style="height: 100%;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="@Url.Action("ForgetPassword", "Login")" id="register-form-link">שכחתי סיסמה</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">התחברות</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body" style="background-image:url(../../Images/logo-big.png);">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="login-form">
                                @using (Html.BeginForm())
                                { @Html.AntiForgeryToken()  @Html.ValidationSummary(true)  <fieldset>
                                    <div class="form-group">
                                        <h4><b>שם משתמש:</b></h4>
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.UserName)
                                    </div>
                                    <div class="form-group">
                                        <h4><b>סיסמה: </b></h4>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" class="btn btn-lg btn-primary btn-block" value="התחבר">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













