@model Eli.Models.tblPatient

@using Eli.Models
<link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
<meta charset="utf-8">
<link href='http://serve.fontsproject.com/css?family=Nehama:400'
      rel='stylesheet' type='text/css'>
<script src="~/Scripts/notify.js"></script>
<script>
    if (@ViewBag.operate!="")
        notify('@ViewBag.operate', '@ViewBag.type');
</script>

<div class="row form-group">
    <div class=" col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel" dir="rtl">
            <li class="active">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">שלב 1</h4>
                    <p class="list-group-item-text">פרטים אישיים של מטופל</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-2">
                    <h4 class="list-group-item-heading">שלב 2</h4>
                    <p class="list-group-item-text">פרטים נוספים על מטופל</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-3">
                    <h4 class="list-group-item-heading">שלב 3</h4>
                    <p class="list-group-item-text">פרטי הפנייה</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12">
        <div class="modal-dialog" style="width:100%;">
            <div class="modal-content" dir="rtl">
                @using (Html.BeginForm("Step2", "WizardFormPatient"))
                {
                    <div class="modal-header">
                        <h3 class="modal-title" align="center">פרטים אישיים של מטופל</h3>
                    </div>

                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            @Html.Partial("_Patient", Model)
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="Next" name="nextBtn" class="btn btn-primary" style="float:left">הבא </button>
                    </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>