@model Eli.Models.tblBrotherSister


        @Html.HiddenFor(model => model.ID)
     
   
    <tr>
        <td class="col-sm-1">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Gender, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </td>

        <td class="col-sm-1">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SurName, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.SurName)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.StudyFramework, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.StudyFramework)
            </div>
        </td>
</tr>

