<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>עוצמות</title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @using Eli.Models; 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/fontTable.css" rel="stylesheet" />
    <link href="~/Scripts/special.css" rel="stylesheet" />
    <link href="~/Scripts/special1.css" rel="stylesheet" />
    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
</head>

    
<body onload="changeActiveTab()" >
    <header>
            <table dir="rtl" align="center" style="width:100%;">
                <tr>
                    <td> &nbsp;&nbsp;</td>
                    <td style="text-align:right">
                        <div>
                            <a href="@Url.Action("HomePage", "Login")" style="color:black; font-weight:bold;"> <img src="~/Images/logo.png" style="width:80%; height:80%;"/></a>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        @{tblTherapist ther = (tblTherapist)Session["Therapist"];
                        string name = ther.TherapistFirstName + " " + ther.TherapistSurName;}
                        <nav dir="rtl" style="float:right;">
                            <ul id="menu" class="nav nav-tabs">
                                <li role="presentation" class="dropdown btn " style="float:left;">
                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="tabsSmall" style="color:black;"> <img src="~/Images/User.png" /> שלום @name <span class=" caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="btn" style=" text-align:center;"><a href="@Url.Action("Logout","Login")" class="tabsSmall" style="color:black;" id="disConnect" onmouseover="changeOnOver(id)" onmouseout="changeOnOut(id)">התנתק</a></li>
                                    </ul>
                                </li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li role="presentation" class="btn" id="FinanceFactor"><a href="@Url.Action("IndexFinancingFactor", "FinanceFactor")" style="color:black;" class="tabs" id="FinanceFactorC">גורמים מממנים</a></li>
                                <li role="presentation" class="btn" id="Therapist"><a href="@Url.Action("IndexTherapist", "Therapist")" class="tabs" style="color:black;" id="TherapistC">מטפלים</a></li>
                                <li role="presentation" class="btn" id="Schedule"><a href="@Url.Action("IndexSchedule", "Schedule")" class="tabs" style="color:black;" id="ScheduleC">יומן פגישות</a></li>
                                <li role="presentation" class="dropdown btn " id="Patient">
                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="PatientC" class="tabs" style="color:black;">מטופלים <span class=" caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="btn cell-border" style=" text-align:center;"><a href="@Url.Action( "IndexPatients", "Patient")" class="tabsSmall" style="color:black;" id="general" onmouseover="changeOnOver(id)" onmouseout="changeOnOut(id)">כללי</a></li>
                                        <li class="divider-vertical"><img src="~/Images/separator.jpg" /></li>
                                        <li class="btn" style=" text-align:center;"><a href="@Url.Action("Step1", "WizardFormPatient")" class="tabsSmall" style="color:black;" id="new" onmouseover="changeOnOver(id)" onmouseout="changeOnOut(id)">מטופל חדש</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </table>
            <script>
                function changeOnOver(id)
                {
                    document.getElementById(id).style.backgroundColor = "blue";
                    document.getElementById(id).style.color = "white";
                }
                function changeOnOut(id) {
                    document.getElementById(id).style.backgroundColor="inherit";
                    document.getElementById(id).style.color = "black";
                }

                function changeActiveTab() {
                    var url = document.URL;
                    var ind = url.lastIndexOf("/");
                    url = url.substring(0, ind);
                    ind = url.lastIndexOf("/");
                    url = url.substring(ind + 1, url.length);

                    switch (url) {
                        case "WizardFormPatient":
                            document.getElementById("Patient").className = "btn btn-primary";
                            document.getElementById("PatientC").style.color = "white";
                            break;
                        case "Patient":
                            document.getElementById("Patient").className = "btn btn-primary";
                            document.getElementById("PatientC").style.color = "white";
                            break;
                        case "Schedule":
                            document.getElementById("Schedule").className = "btn btn-primary";
                            document.getElementById("ScheduleC").style.color = "white";
                            break;
                        case "Therapist":
                            document.getElementById("Therapist").className = "btn btn-primary";
                            document.getElementById("TherapistC").style.color = "white";
                            break;
                        case "FinanceFactor":
                            document.getElementById("FinanceFactor").className = "btn btn-primary";
                            document.getElementById("FinanceFactorC").style.color = "white";
                            break;
                        default:
                    }
                }
            </script>
    </header>
    <div id="body" style="background-image:Url(../../Images/background.jpg);">    
        <div class="content-wrapper ">
            <marquee onmouseover="this.scrollAmount=0" direction="right" onmouseout="this.scrollAmount=3" scrollamount="5" loop="true" width="100%">
                <center >
                    <b>
                        30/5/15- פגישת סיכום חודש מאי &nbsp;
                        7/6/15- שפיים ונהנים !! &nbsp;
                        10/6/15- יוסי הללי טכנאי מזגנים מגיע בשעה 15:30 &nbsp;
                        20/6/15- יומולדת להילה!! 18:30 במשרד &nbsp;
                    </b>
                </center>
            </marquee>
            @RenderBody()
        </div>            
        
    </div>
    
    <footer style="background-color:white;">
        <div class="content-wrapper">
            <div class="float-right">
                <br />
                <p>עדן ושחר @DateTime.Now.Year &copy;</p>
            </div>
        </div>
    </footer>
</body>



</html>
