<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>עוצמות</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")
    @using Eli.Models;    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

    
<body onload="changeActiveTab()" >

    <header>
        <div class="content-wrapper">
            <table dir="rtl" align="center" style="width:100%;">
                <tr>
                    <td style="text-align:right">
                        <div>
                            <a href="@Url.Action("IndexPatients", "Patient")" style="color:black; font-weight:bold;"> <img src="~/Images/logo.png" /></a>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        @{tblTherapist ther = (tblTherapist)Session["Therapist"];
                        string name = ther.TherapistFirstName + " " + ther.TherapistSurName;}
                        <nav dir="rtl" style="float:right;">
                            <ul id="menu" class="nav nav-tabs">
                                <li role="presentation" class="dropdown btn " style="float:left;">
                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" style="color:black; font-weight:bold;"> <img src="~/Images/User.png" /> שלום @name <span class=" caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="btn" style=" text-align:center;"><a href="@Url.Action( "", "")" style="color:black; font-weight:bold;">התנתק</a></li>
                                    </ul>
                                </li>
                                <li role="presentation" class="btn " id="FinanceFactor"><a href="@Url.Action("IndexFinancingFactor", "FinanceFactor")" style="color:black; font-weight:bold;" id="FinanceFactorC">גורמים מממנים</a></li>
                                <li role="presentation" class="btn " id="Therapist"><a href="@Url.Action("IndexTherapist", "Therapist")" style="color:black; font-weight:bold;" id="TherapistC">מטפלים</a></li>
                                <li role="presentation" class="btn " id="Schedule"><a href="@Url.Action("IndexSchedule", "Schedule")" style="color:black; font-weight:bold;" id="ScheduleC">יומן פגישות</a></li>
                                <li role="presentation" class="dropdown btn " id="Patient">
                                    <a href="#" id="PatientC" data-toggle="dropdown" role="button" aria-expanded="false" style="color:black; font-weight:bold;">מטופלים <span class=" caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="btn" style=" text-align:center;"><a href="@Url.Action( "IndexPatients", "Patient")" style="color:black; font-weight:bold;">כללי</a></li>
                                        <li class="btn" style=" text-align:center;"><a href="@Url.Action("Step1", "WizardFormPatient")" style="color:black; font-weight:bold;">מטופל חדש</a></li>
                                    </ul>
                                </li>



                            </ul>
                        </nav>
                    </td>
                </tr>
            </table>


            <script>
                function changeActiveTab() {
                    var url = document.URL;
                    var ind = url.lastIndexOf("/");
                    url = url.substring(0, ind);
                    ind = url.lastIndexOf("/");
                    url = url.substring(ind + 1, url.length);

                    switch (url) {
                        case "WizardFormPatient":
                            document.getElementById("Patient").className = "btn btn-primary";
                            document.getElementById("PatientC").style.color = "white";
                            break;
                        case "Patient":
                            document.getElementById("Patient").className = "btn btn-primary";
                            document.getElementById("PatientC").style.color = "white";
                            break;
                        case "Schedule":
                            document.getElementById("Schedule").className = "btn btn-primary";
                            document.getElementById("ScheduleC").style.color = "white";
                            break;
                        case "Therapist":
                            document.getElementById("Therapist").className = "btn btn-primary";
                            document.getElementById("TherapistC").style.color = "white";
                            break;
                        case "FinanceFactor":
                            document.getElementById("FinanceFactor").className = "btn btn-primary";
                            document.getElementById("FinanceFactorC").style.color = "white";
                            break;
                        default:
                    }
                }
            </script>


        </div>
    </header>
    <div id="body" >
        <div class=" content-wrapper" style="background-image:Url(../../Images/);">
            @RenderBody()
        </div>
    </div>
    <br />
    <footer style="background-color:white;">
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Eden & Shahar</p>
            </div>
        </div>
    </footer>
</body>



</html>
