<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

    
    <body onload="changeActiveTab()">

        <header>
            <div class="content-wrapper">
                <div class="float-right">
                    <p class="site-title">@Html.ActionLink(" ", "IndexPatients", "Patient", null, new { style = "background: url('" + Url.Content("~/Images/logo.png") + "') no-repeat center right; display:block; height:84px; width:264px;" })
                </div>


                <nav dir="rtl" style="float:right;">
                    <ul id="menu" class="nav nav-tabs">
                        <li role="presentation" class="btn " id="FinanceFactor"><a href="@Url.Action("IndexFinancingFactor", "FinanceFactor")" style="color:black; font-weight:bold;" id="FinanceFactorC">גורמים מממנים</a></li>
                        <li role="presentation" class="btn " id="Therapist"><a href="@Url.Action("IndexTherapist", "Therapist")" style="color:black; font-weight:bold;" id="TherapistC">מטפלים</a></li>
                        <li role="presentation" class="btn " id="Schedule"><a href="@Url.Action("IndexSchedule", "Schedule")" style="color:black; font-weight:bold;" id="ScheduleC">יומן פגישות</a></li>
                        <li role="presentation" class="dropdown btn " id="Patient">
                            <a href="#" id="PatientC" data-toggle="dropdown" role="button" aria-expanded="false" style="color:black; font-weight:bold;">מטופלים <span class=" caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="btn" style=" text-align:center;"><a href="@Url.Action( "IndexPatients", "Patient")" style="color:black; font-weight:bold;">כללי</a></li>
                                <li class="btn" style=" text-align:center;"><a href="@Url.Action("Step1", "WizardFormPatient")" style="color:black; font-weight:bold;">מטופל חדש</a></li>
                            </ul>
                        </li>
                        
                        
                        
                    </ul>
                </nav>
                <script>

                    function changeActiveTab()
                        {
                            var url = document.URL;
                            var ind = url.lastIndexOf("/");
                            url = url.substring(0, ind);
                            ind = url.lastIndexOf("/");
                            url = url.substring(ind + 1, url.length);

                            switch (url) {
                                case "WizardFormPatient":
                                    document.getElementById("Patient").className = "btn btn-primary";
                                    document.getElementById("PatientC").style.color = "white";
                                    break;
                                case "Patient":
                                    document.getElementById("Patient").className = "btn btn-primary";
                                    document.getElementById("PatientC").style.color = "white";
                                    break;
                                case "Schedule":
                                    document.getElementById("Schedule").className = "btn btn-primary";
                                    document.getElementById("ScheduleC").style.color = "white";
                                    break;
                                case "Therapist":
                                    document.getElementById("Therapist").className = "btn btn-primary";
                                    document.getElementById("TherapistC").style.color = "white";
                                    break;
                                case "FinanceFactor":
                                    document.getElementById("FinanceFactor").className = "btn btn-primary";
                                    document.getElementById("FinanceFactorC").style.color = "white";
                                    break;
                                default:
                            }
                        }

                </script>

                
            </div>
        </header>

        <div id="body">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
        <br />
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Eden & Shahar</p>
                </div>
            </div>
        </footer>
    </body>

</html>
