@model Eli.Models.MailModel
@using Eli.Models;
@using System;
@using System.Collections.Generic;
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
<meta charset="utf-8">
<link href='http://serve.fontsproject.com/css?family=Nehama:400'
      rel='stylesheet' type='text/css'>
@{
  string id = "2" + @Model.id;
  tblTherapist ther = (tblTherapist)Session["Therapist"];
  string name = ther.TherapistFirstName + " " + ther.TherapistSurName;
  Model.From = name;
  string str = "שליחת הודעה להורי " + Model.name;  
 }

<div id="myModal">
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 align="right " class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <fieldset align="right">
                         @if (Model.patientId != null)
                        {
                        using (Html.BeginForm("ParentsMail", "General"))
                        {
                            <h5 align="right"><u><b>@str </b></u></h5>
                            <label float:right class="description" for="element_1">
                                שם מוען
                            </label>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.EditorFor(model => model.From)
                                @Html.ValidationMessageFor(model => model.From)
                            </div>
                           
                            <label float:right class="description" for="element_1">
                                נושא הודעה
                            </label>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.EditorFor(model => model.Subject)
                                @Html.ValidationMessageFor(model => model.Subject)
                            </div>
                            <label float:right class="description" for="element_1">
                                תוכן הודעה
                            </label>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.TextAreaFor(model => model.Body)
                                @Html.ValidationMessageFor(model => model.Body)
                            </div>



                            <div float:right; dir="rtl" class="editor-field">
                                @Html.HiddenFor(model => model.redirect)
                                @Html.ValidationMessageFor(model => model.redirect)
                            </div>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.HiddenFor(model => model.patientId)
                                @Html.ValidationMessageFor(model => model.patientId)
                            </div>
                            <input id="btn2" type="submit" class="btn btn-primary btn-lg" value="שלח" />
                            }
                        }
                         else
                         {
                            <h4 align="right">לא הוכנסו פרטי הורים עבור המטופל</h4>
                         }
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("form").submit(function () {


            var btn = $("#btn2");

            btn.attr("disabled", "disabled"); // disable button
            window.setTimeout(function () {
                btn.removeAttr("disabled"); // enable button
                $("#btn2").val("שלח");
            }, 6200 /* time out*/);
            $("#btn2").val("אנא המתן");


        });

    });

</script>