@model Eli.Models.MailModel
@using Eli.Models;
@using System;
@using System.Collections.Generic;
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<meta charset="utf-8">
@{tblTherapist ther = (tblTherapist)Session["Therapist"];

String name = ther.TherapistFirstName + " " + ther.TherapistSurName;
Model.From = name;
}
@{


    string str = "";
  
    if (@Model.redirect == "finance")
    {
        str = "שליחת הודעה לגורם מממן "+Model.name;
    }
    if (@Model.redirect == "therapist")
    {
        str = "שליחת הודעה למטפל " +Model.name ;
    }
}
@{string id = "1" + @Model.id;}

<div id="myModal">
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 align="right " class="modal-title" id="myModalLabel"></h4>
                </div>
                <div  class="modal-body">
                    <fieldset align="right">
                        <legend>
                            Send Email
                        </legend>
                        @using (Html.BeginForm("Index", "General"))
                        {
                            <div class="medium" align="right"><u><b>@str </b></u></div>
                            <label float:right class="description" for="element_1">
                                שם מוען
                            </label>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.EditorFor(model => model.From)
                                @Html.ValidationMessageFor(model => model.From)
                            </div>
                            <label float:right class="description" for="element_1">
                                מייל נמען
                            </label>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.EditorFor(model => model.To)
                                @Html.ValidationMessageFor(model => model.To)
                            </div>
                            <label float:right class="description" for="element_1">
                                נושא הודעה
                            </label>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.EditorFor(model => model.Subject)
                                @Html.ValidationMessageFor(model => model.Subject)
                            </div>
                            <label float:right class="description" for="element_1">
                                תוכן הודעה
                            </label>

                            <div float:right; dir="rtl" class="editor-field">
                                @Html.TextAreaFor(model => model.Body)
                                @Html.ValidationMessageFor(model => model.Body)
                            </div>
                                <label float:right class="description" for="element_1">
                                    סיסמת מייל
                                </label>

                            <div float:right; dir="rtl" class="editor-field">
                                <table>
                                    <tr>
                                        <td>
                                            @Html.EditorFor(model => model.MailPassword)
                                            @Html.ValidationMessageFor(model => model.MailPassword)
                                        </td>
                                        <td>
                                            <a href="https://www.google.com/accounts/recovery/" target="_blank">  שכחתי סיסמת gmail</a>
                                        </td>
                                        <td>
                                            <a href="https://www.google.com/settings/security/lesssecureapps " target="_blank">  שינוי הגדרות gmail</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br />



                                    <div float:right; dir="rtl" class="editor-field">
                                        @Html.HiddenFor(model => model.redirect)
                                        @Html.ValidationMessageFor(model => model.redirect)
                                    </div>
                            <input id="btn" type="submit" class="btn btn-primary btn-lg" value="שלח" />
                        }
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("form").submit(function () {


            var btn = $("#btn");

            btn.attr("disabled", "disabled"); // disable button
            window.setTimeout(function () {
                btn.removeAttr("disabled"); // enable button
                $("#btn").val("שלח");
            }, 4200 /* time out*/);
            $("#btn").val("אנא המתן");


        });

    });

</script>