@model Eli.Models.tblPatient


@{
    string default_val1;
    if (@Model.Gender != null)
    {
        default_val1 = @Model.Gender;
    }
    else
    {
        default_val1 = "זכר";
    }
}
@{
    string default_val2;
    if (@Model.Gender != null)
    {
        default_val2 = "כן";//@Model.PatientStatus;
    }
    else
    {
        default_val2 = "לא";
    }
}

            @Html.HiddenFor(model => model.ID)
            <label float:right class="description" for="element_1">
                שם פרטי
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <label float:right class="description" for="element_1">
                שם משפחה
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.SurName)
                @Html.ValidationMessageFor(model => model.SurName)
            </div>
            <label float:right class="description" for="element_1">
                תאריך לידה
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
            <fieldset>
                <label float:right class="description" for="element_1">
                    מגדר
                </label>
                <br />
                <div style="text-align:right; float:right;">
                    <select dir="rtl" class="element select" id="gender" name="gender">
                        <option selected="selected" value="@default_val1">@default_val1</option>
                        <option value="זכר">זכר</option>
                        <option value="נקבה">נקבה</option>
                    </select>
                </div>
            </fieldset>
            <label float:right class="description" for="element_1">
                מסגרת לימודית
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.EducationalFramework)
                @Html.ValidationMessageFor(model => model.EducationalFramework)
            </div>
            <label float:right class="description" for="element_1">
                כתובת
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.PatientAddress)
                @Html.ValidationMessageFor(model => model.PatientAddress)
            </div>
            <label float:right class="description" for="element_1">
                מספר טלפון
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <fieldset>
                <label float:right class="description" for="element_1">
                    סטטוס
                </label>
                <br />
                <div style="text-align:right; float:right;">
                    <select dir="rtl" class="element select" id="status" name="status">
                        <option selected="selected" value="@default_val2">@default_val2</option>
                        <option value="כן">כן</option>
                        <option value="לא">לא</option>
                    </select>
                </div>

                </fieldset>
