@model Eli.Models.tblReference
@using Eli.Models
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<meta charset="utf-8">

@{  string id;
  string submit;
  string str;
  EliManagerDB db = new EliManagerDB();
  if (@Model.ReferenceNumber == 0)
  {
      id = "new";
      submit = "צור";
      str = "הוספת הפנייה ל" + ViewBag.Name;
  }
  else
  {
      id = @Model.ReferenceNumber.ToString();
      submit = "שמור";
      str = "עריכת הפנייה: " + Model.ReasonReference +" עבור המטופל " + ViewBag.Name;
  }
  tblTherapist t = (tblTherapist)Session["Therapist"];

  if(t.UserName=="admin")
  {
      str = "צפייה בהפנייה: " + Model.ReasonReference + " עבור המטופל " + ViewBag.Name;

  }

  if (ViewBag.type == "NewReferenceExistPatient" && id == "new")
  {
      str = "הוספת הפנייה למטופל קיים";
  }
}




<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>

            <div class="modal-body">
                                @using (Html.BeginForm("AddNewReferenceToExistPatient", "Patient", new { pid = @ViewBag.pid }, FormMethod.Post))
                                {
                                    <div class="medium" align="right">
                                        <u><b>@str </b></u></div>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)

                                        <fieldset align="right" dir="rtl">
                                            @Html.Partial("_Reference", Model, new ViewDataDictionary {{ "type", ViewBag.type }})
                                            <br />
                                            @{tblTherapist ther = (tblTherapist)Session["Therapist"];
                                                  if (ther.UserName != "admin")
                                                  {
                                                    <p>
                                                        <input type="submit" class="btn btn-primary btn-lg" name="submit" value="@submit" />
                                                    </p>
                                                    }
                                             }
                                        </fieldset>
                                }
                            </div>
        </div>
    </div>
</div>
