@model Eli.Models.tblReference
@using Eli.Models



@{  
  EliManagerDB db = new EliManagerDB();
  DateTime start = DateTime.Now;

  tblTherapist ther = (tblTherapist)Session["Therapist"];

  if (Model.StartDateReference == null)
  {
          Model.StartDateReference = start;
  }
  
}

    @Html.HiddenFor(model => model.ReferenceNumber)
    @if (ViewBag.type == "NewReferenceExistPatient" && @Model.ReferenceNumber == 0)
    {
        <p style="color:red;">
            הוספת הפנייה מכאן היא אך ורק למטופלים שהם לא שלך
        </p>
        <table>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        מטופל
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align:right; float:right;">
                        <select dir="rtl" class="element select" id="PatientID" name="PatientID" style="width: 300px; height: 30px" >
                            @{
                            foreach (tblPatient pat in db.getAllPatientsByNoTherapist(ther.TherapistID))
                            {
                                string name = pat.ID + " " + pat.FirstName + " " + pat.SurName;
                                {
                                    <option value="@pat.ID">@name</option>
                                }
                            }
                            }
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    }
    <label float:right class="description" for="element_1">
        סיבת הפנייה
    </label>
    <div float:right; dir="rtl" class="editor-field">
        @Html.EditorFor(model => model.ReasonReference)
        @Html.ValidationMessageFor(model => model.ReasonReference)
    </div>
    <table>
        <tr>
            <td>
                <label float:right class="description" for="element_1">
                    סטטוס הפנייה
                </label>
            </td>
            <td style="padding-right:2%;">
                <label float:right class="description" for="element_1">
                   פירוט אחר
                </label>

            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:right; float:right;">
                    <select dir="rtl" class="element select" id="StatusReference" name="StatusReference" style="width: 300px; height: 30px">
                        @{foreach (string s in db.getAllStatusReference())
                        {
                            if (s == Model.StatusReference)
                            {
                                <option selected="selected" value="@s">@s</option>
                            }
                            else
                            {
                                <option value="@s">@s</option>
                            }
                        }
                        }
                    </select>
                </div>
            </td>
            <td style="padding-right:2%;">
                <div float:right; dir="rtl" class="editor-field">
                    @Html.EditorFor(model => model.OtherStatus)
                    @Html.ValidationMessageFor(model => model.OtherStatus)
                </div>
             </td>
        </tr>
        <tr>
            <td>
                <label float:right class="description" for="element_1">
                    סוג פגיעה
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:right; float:right;">
                    <select dir="rtl" class="element select" id="AbuseType" name="AbuseType" style="width: 300px; height: 30px">
                        @{foreach (string s in db.getAllAbuseType())
                        {
                            if (s == Model.AbuseType)
                            {
                                <option selected="selected" value="@s">@s</option>
                            }
                            else
                            {
                                <option value="@s">@s</option>
                            }
                        }
                        }
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label float:right class="description" for="element_1">
                    כיצד הגיע?
                </label>
            </td>
            <td style="padding-right:2%;">
                <label float:right class="description" for="element_1">
                    פירוט אחר
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:right; float:right;">
                    <select dir="rtl" class="element select" id="ReferenceSource" name="ReferenceSource" style="width: 300px; height: 30px">
                        @{foreach (string s in db.getAllReferenceSource())
                        {
                            if (s == Model.ReferenceSource)
                            {
                                <option selected="selected" value="@s">@s</option>
                            }
                            else
                            {
                                <option value="@s">@s</option>
                            }
                        }
                        }
                    </select>
                </div>
            </td>
            <td style="padding-right:2%;">
                <div float:right; dir="rtl" class="editor-field">
                    @Html.EditorFor(model => model.OtherReference)
                    @Html.ValidationMessageFor(model => model.OtherReference)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label float:right class="description" for="element_1">
                    תאריך התחלה
                </label>
            </td>
            <td style="padding-right:2%;">
                @{ if (Model.ReasonReference != null)
                 {
                    <label float:right class="description" for="element_1">
                        תאריך סיום
                    </label>
                }
                }
            </td>
       </tr>
       <tr>
           <td>
               <div float:right; dir="rtl" class="editor-field">
                   @Html.EditorFor(model => model.StartDateReference)
                   @Html.ValidationMessageFor(model => model.StartDateReference)
               </div>
           </td>
           <td style="padding-right:2%;">
               @{ if (Model.ReasonReference != null)
                {
                   <div float:right; dir="rtl" class="editor-field">
                       @Html.EditorFor(model => model.EndDateReference)
                       @Html.ValidationMessageFor(model => model.EndDateReference)
                   </div>
                }
                else
                {
                   @Html.HiddenFor(model => model.EndDateReference)
                }
               }
              
           </td>
       </tr>

    </table>

