@model Eli.Models.tblTreatment
@using Eli.Models
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/ModalSize.css" rel="stylesheet" />

@{  EliManagerDB db = new EliManagerDB();
    string id, firstId=null;
    string submit;
    string strTitle;
    DateTime start = DateTime.Now;
    tblTherapist ther = (tblTherapist)Session["Therapist"];
    if (Model.TreatmentDate == null)
    {
        Model.TreatmentDate = start;
    }
    
    if (@Model.TreatmentNumber == 0)
    {
        id = "new";
        submit = "צור";
        strTitle = "הוספת טיפול נוסף להפנייה";
    }
    else
    {
        id = @Model.TreatmentNumber.ToString();
        submit = "שמור";
        strTitle = "עריכת טיפול בנושא: " + Model.TreatmentSubject;
    }
    tblTherapist t = (tblTherapist)Session["Therapist"];
    if(t.UserName=="admin")
    {
        strTitle = "צפייה בטיפול בנושא: " + Model.TreatmentSubject; 
    }
    if (ViewBag.type == "schedule" && id == "new")
    {
        strTitle = "הוספת טיפול";
    }
}




<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:90%;">
        <div class=" modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 align="right " class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("IndexTreatment", "Treatment", new { pid = @ViewBag.pid }, FormMethod.Post))
            {
                if (ther.UserName == "admin")
                {
                    if (Model.TreatmentNumber != 0) { 
                        tblTherapist tempTher = db.getTherapistByTreatmentNumber(Model.TreatmentNumber);
                        string str = "מטפל: " + tempTher.TherapistFirstName + " " + tempTher.TherapistSurName;
                        <div class="medium" align="right"><u><b>@str </b></u></div>
                    }
                }

                <div class="medium" align="right"><u><b>@strTitle </b></u></div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset align="right" dir="rtl">
                    <legend>tblTreatment</legend>
                    @Html.HiddenFor(model => model.TreatmentNumber)
                    @if (ViewBag.type == "schedule" && id == "new")
                    {
                        <table>
                            <tr>
                                <td>
                                    <label float:right class="description" for="element_1">
                                        מטופל
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="text-align:right; float:right;">
                                        <select dir="rtl" class="element select" id="PatientID" name="PatientID" style="width: 300px; height: 30px" onchange="FillRefe()" onclick="FillRefe()">
                                            @{int count=0;
                                            foreach (tblPatient pat in db.getAllPatientsByTherapist(ther.TherapistID))
                                                {
                                                    if (count==0){
                                                        firstId=pat.ID;
                                                    }
                                                    string name = pat.ID + " " + pat.FirstName + " " + pat.SurName;
                                                    <option selected="selected" value="@pat.ID">@name</option>
                                                    count++;
                                                }
                                            }
                                        </select>



                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label float:right class="description" for="element_1">
                                        הפנייה
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="text-align:right; float:right;" id="referenceID">
                                        <select dir="rtl" class="element select" id="ReferenceNumber" name="ReferenceNumber" style="width: 300px; height: 30px" > 
                                            @{
                                                tblReference refe = db.getFirstReferenceByPatientId(firstId);
                                                string nameRefe = "הפנייה בנושא " + refe.ReasonReference;
                                            }
                                            
                                            <option selected="selected" value="@refe.ReferenceNumber">@nameRefe</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    }
                    <table>
                        <tr>
                            <td>
                                <label float:right class="description" for="element_1">
                                    נושא טיפול
                                </label>
                            </td>
                            <td style="padding-right:2%;">
                                <label float:right class="description" for="element_1">
                                    סטטוס מטופל
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.EditorFor(model => model.TreatmentSubject)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentSubject)
                                </div>
                            </td>
                            <td style="padding-right:2%;">
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.EditorFor(model => model.TreatmentStatusPatient)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentStatusPatient)
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <label float:right class="description" for="element_1">
                                    מטרת טיפול
                                </label>
                            </td>
                            <td style="padding-right:2%;">
                                <label float:right class="description" for="element_1">
                                    תיאור טיפול
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.TextAreaFor(model => model.TreatmentGoal)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentGoal)
                                </div>
                            </td>
                            <td style="padding-right:2%;">
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.TextAreaFor(model => model.TreatmentDescription)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentDescription)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label float:right class="description" for="element_1">
                                    סיכום טיפול
                                </label>
                            </td>
                            <td style="padding-right:2%;">
                                <label float:right class="description" for="element_1">
                                    הערות לפגישה הבאה
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.TextAreaFor(model => model.TreatmentSummary)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentSummary)
                                </div>
                            </td>
                            <td style="padding-right:2%;">
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.TextAreaFor(model => model.NextTreatment)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.NextTreatment)
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <label float:right class="description" for="element_1">
                                    תאריך טיפול
                                </label>
                            </td>
                            <td style="padding-right:2%;">
                                <label float:right class="description" for="element_1">
                                    שעת טיפול
                                </label>
                            </td>
                            <td style="padding-right:2%;">
                                <label float:right class="description" for="element_1">
                                    מקום טיפול
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.EditorFor(model => model.TreatmentDate)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentDate)
                                </div>
                            </td>
                            <td>
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.EditorFor(model => model.TreatmentStartTime)

                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentStartTime)

                                </div>
                            </td>
                            <td style="padding-right:2%;">
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.EditorFor(model => model.TreatmentPlace)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.TreatmentPlace)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label float:right class="description" for="element_1">
                                    האם הגיע?
                                </label>
                            </td>
                            <td style="padding-right:2%;">
                                <label float:right class="description" for="element_1">
                                    מחיר
                                </label>
                            </td>
                            <td style="padding-right:2%;">

                                <label float:right class="description" for="element_1">
                                    האם שולם?
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="text-align:right; float:right;">
                                    <select dir="rtl" class="element select" id="IsArrived" name="IsArrived" style="width: 300px; height: 30px">
                                        @if (@Model.IsArrived == "כן")
                                        {
                                            <option selected="selected" value="כן">כן</option>
                                            <option value="לא">לא</option>
                                        }
                                        else
                                        {
                                            <option selected="selected" value="לא">לא</option>
                                            <option value="כן">כן</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td style="padding-right:2%;">
                                <div float:right; dir="rtl" class="editor-field">
                                    @Html.EditorFor(model => model.Cost)
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Cost)
                                </div>
                            </td>
                            <td style="padding-right:2%;">
                                <div style="text-align:right; float:right;">
                                    <select dir="rtl" class="element select" id="IsPaid" name="IsPaid" style="width: 300px; height: 30px">
                                        @if (@Model.IsPaid == "כן")
                                        {
                                            <option selected="selected" value="כן">כן</option>
                                            <option value="לא">לא</option>
                                        }
                                        else
                                        {
                                            <option selected="selected" value="לא">לא</option>
                                            <option value="כן">כן</option>
                                        }

                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label float:right class="description" for="element_1">
                                    גורם מממן
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="text-align:right; float:right;">
                                    <select dir="rtl" class="element select" id="FinancingFactorNumber" name="FinancingFactorNumber" style="width: 300px; height: 30px">
                                        @{foreach (tblFinancingFactor ff in db.getAllFinanceFactor())
                                            {
                                                if (ff.FinancingFactorNumber == Model.FinancingFactorNumber)
                                                {
                                                    <option selected="selected" value="@ff.FinancingFactorNumber">@ff.FinancingFactorName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ff.FinancingFactorNumber">@ff.FinancingFactorName</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>

                    
                    @if (ViewBag.type != "schedule" || id != "new")
                    {
                        <br />
                        <input type="text" name="ReferenceNumber" dir="rtl" value="@Model.ReferenceNumber" hidden>
                    }
                   
                    <br />
                    @{
                        if (ther.UserName != "admin")
                        {
                            <p>
                                <input type="submit" class="btn btn-primary btn-lg" name="submit" value="@submit" />
                            </p>
                        }
                    }
                </fieldset>
            }
        </div>
    </div>
    </div>
</div>

<script>
    function CallChangefunc1(x) {
        document.getElementById("finance").value = x;
    }

   

    function FillRefe() {
        $.ajax({
            url: "/Schedule/PViewComboReferenceByPatId",
            type: "POST",
            dataType: "html",
            data: { patId: $("#PatientID").val() },
            success: function (data) {
                $('#referenceID').html(data);
            }
        });
    }

   </script>
