@model Eli.Models.tblParent


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="newParent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Step3", "WizardFormPatient"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

    <fieldset align="right" dir="rtl">
        @{ if (Model.ParentID == null)
         {
            <label float:right class="description" for="element_1">
                תעודת זהות
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.ParentID)
                @Html.ValidationMessageFor(model => model.ParentID)
            </div>
         }
         else
         {
            @Html.HiddenFor(model => model.ParentID)
         }
        }
        <table>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        שם פרטי
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        שם משפחה
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field" >
                        @Html.EditorFor(model => model.ParentFirstName)
                        @Html.ValidationMessageFor(model => model.ParentFirstName)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.ParentSurName)
                        @Html.ValidationMessageFor(model => model.ParentSurName)
                    </div>
            </tr>
        </table>
        <label float:right class="description" for="element_1">
            תאריך לידה
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ParentBirthDate)
            @Html.ValidationMessageFor(model => model.ParentBirthDate)
        </div>
        <label float:right class="description" for="element_1">
            מגדר
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ParentGender)
            @Html.ValidationMessageFor(model => model.ParentGender)
        </div>
        <label float:right class="description" for="element_1">
            כתובת
        </label>
        <br />
        @Html.Partial("GoogleAddressApi", new ViewDataDictionary { { "fieldName", "ParentAddress" }, { "value", Model.ParentAddress } })
        <br />
        <br />
        <label float:right class="description" for="element_1">
            טלפון
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ParentPhoneNumber)
            @Html.ValidationMessageFor(model => model.ParentPhoneNumber)
        </div>
        <label float:right class="description" for="element_1">
            דואר אלקטרוני
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ParentMail)
            @Html.ValidationMessageFor(model => model.ParentMail)
        </div>
        <label float:right class="description" for="element_1">
            האם עובד
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.IsWorking)
            @Html.ValidationMessageFor(model => model.IsWorking)
        </div>
        <label float:right class="description" for="element_1">
            פירוט
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.Explain)
            @Html.ValidationMessageFor(model => model.Explain)
        </div>
        <label float:right class="description" for="element_1">
            הערות נוספות
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-primary btn-lg" name="add" value="הוספת הורה" />
        </p>
    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
