@model Eli.Models.tblParent


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="newParent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Step3", "WizardFormPatient"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

    <fieldset align="right" dir="rtl">
        @{ if (Model.ParentID == null)
         {
            <label float:right class="description" for="element_1">
                תעודת זהות
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.ParentID)
                @Html.ValidationMessageFor(model => model.ParentID)
            </div>
         }
         else
         {
            @Html.HiddenFor(model => model.ParentID)
         }
        }
        <table>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        שם פרטי
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                        שם משפחה
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field" >
                        @Html.EditorFor(model => model.ParentFirstName)
                        <br />
                        @Html.ValidationMessageFor(model => model.ParentFirstName)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.ParentSurName)
                         <br />
                        @Html.ValidationMessageFor(model => model.ParentSurName)
                    </div>
            </tr>
        </table>
        <label float:right class="description" for="element_1">
            תאריך לידה
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ParentBirthDate)
            @Html.ValidationMessageFor(model => model.ParentBirthDate)
        </div>
        <label float:right class="description" for="element_1">
            מגדר
        </label>
        <div float:right; dir="rtl" class="editor-field">
            <select dir="rtl" class="element select" id="ParentGender" name="ParentGender">
                @if (@Model.ParentGender == "נקבה")
                {
                    <option selected="selected" value="נקבה">נקבה</option>
                    <option value="זכר">זכר</option>
                }
                else
                {
                    <option selected="selected" value="זכר">זכר</option>
                    <option value="נקבה">נקבה</option>
                }

            </select>

        </div>
        <label float:right class="description" for="element_1">
            כתובת
        </label>
        <br />
        @Html.Partial("GoogleAddressApi", new ViewDataDictionary { { "fieldName", "ParentAddress" }, { "value", Model.ParentAddress } })
        <br />
        <br />
        <table>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        טלפון
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                       דואר אלקטרוני
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.ParentPhoneNumber)
                        <br />
                        @Html.ValidationMessageFor(model => model.ParentPhoneNumber)
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.ParentMail)
                        <br />
                        @Html.ValidationMessageFor(model => model.ParentMail)
                    </div>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label float:right class="description" for="element_1">
                        האם עובד
                    </label>
                </td>
                <td style="padding-right:2%;">
                    <label float:right class="description" for="element_1">
                       פירוט
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div float:right; dir="rtl" class="editor-field">
                        <select dir="rtl" class="element select" id="IsWorking" name="IsWorking">
                            @if (@Model.IsWorking == "לא")
                            {
                                <option selected="selected" value="לא">לא</option>
                                <option value="כן">כן</option>
                            }
                            else
                            {
                                <option selected="selected" value="כן">כן</option>
                                <option value="לא">לא</option>
                            }

                        </select>
                    </div>
                </td>
                <td style="padding-right:2%;">
                    <div float:right; dir="rtl" class="editor-field">
                        @Html.EditorFor(model => model.Explain)
                        <br />
                        @Html.ValidationMessageFor(model => model.Explain)
                    </div>
            </tr>
        </table>
        
        <label float:right class="description" for="element_1">
            הערות נוספות
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.TextAreaFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-primary btn-lg" name="add" value="הוספת הורה" />
        </p>
    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
