@model Eli.Models.tblBrotherSister



<!-- Modal -->
<div class="modal fade" id="newBrotherSister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Step3", "WizardFormPatient"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

    <fieldset align="right" dir="rtl">


       @{ if (Model.BrotherSisterID == null)
        {
            <label float:right class="description" for="element_1">
                תעודת זהות
            </label>
            <div float:right; dir="rtl" class="editor-field">
                @Html.EditorFor(model => model.BrotherSisterID, new { StringLength = 9 })
                @Html.ValidationMessageFor(model => model.BrotherSisterID)
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.BrotherSisterID)
        }
    }

        <div class="editor-label">
            שם פרטי
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrotherSisterFirstName)
            @Html.ValidationMessageFor(model => model.BrotherSisterFirstName)
        </div>

        <div class="editor-label">
            שם משפחה
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrotherSisterSurName)
            @Html.ValidationMessageFor(model => model.BrotherSisterSurName)
        </div>

        <div class="editor-label">
            תאריך לידה
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrotherSisterBirthDate)
            @Html.ValidationMessageFor(model => model.BrotherSisterBirthDate)
        </div>

        <div class="editor-label">
            מגדר
        </div>
        <div float:right; dir="rtl" class="editor-field">
            <select dir="rtl" class="element select" id="BrotherSisterGender" name="BrotherSisterGender">
                @if (@Model.BrotherSisterGender == "נקבה")
                {
                    <option selected="selected" value="נקבה">נקבה</option>
                    <option value="זכר">זכר</option>
                }
                else
                {
                    <option selected="selected" value="זכר">זכר</option>
                    <option value="נקבה">נקבה</option>
                }

            </select>

        </div>

        <div class="editor-label">
            מסגרת חינוכית
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrotherSisterStudyFramework)
            @Html.ValidationMessageFor(model => model.BrotherSisterStudyFramework)
        </div>
        <br />
        <p>
            <input type="submit" name="add" value="הוספת אח/ות" class="btn btn-primary btn-lg" />
        </p>
    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<script>
$("input[data-val-length-max]").each(function (index, element) {
var length = parseInt($(this).attr("data-val-length-max"));
$(this).prop("maxlength", length);
});
</script>