@model Eli.Models.tblTreatment

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/ModalSize.css" rel="stylesheet" />
@{  string id;
    string submit;
    if (@Model.TreatmentNumber == 0)
    {
        id = "new";
        submit = "צור";
    }
    else
    {
        id = @Model.TreatmentNumber.ToString();
        submit = "שמור";
    }
}

@{
    string default_val;
    if (@Model.IsPaid != null)
    {
        default_val = @Model.IsPaid;
    }
    else
    {
        default_val = "לא";
    }
}

@{
    string default_val1;
    if (@Model.TreatmentStartTime != null)
    {
        default_val1 = @Model.TreatmentStartTime.ToString();
    }
    else
    {
        default_val1 = "08:00";
    }
}
@{
    string str;
    if (@Model.TreatmentPlace != null)
    {
        str = "עריכת טיפול מספר: "+Model.TreatmentNumber;
    }
    else
    {
        str = "הוספת טיפול נוסף להפנייה";
    }
}

<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("IndexTreatment", "Treatment", new { pid = @ViewBag.pid }, FormMethod.Post))
                {
                    <h4 align="right">@str</h4>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset align="right">
                                        <legend>tblTreatment</legend>

                                        @Html.HiddenFor(model => model.TreatmentNumber)

                        <label float:right class="description" for="element_1">
                            מטרת טיפול
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                           @Html.TextAreaFor(model => model.TreatmentGoal)
                            @Html.ValidationMessageFor(model => model.TreatmentGoal)
                        </div>

                        <label float:right class="description" for="element_1">
                            נושא טיפול
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                            @Html.EditorFor(model => model.TreatmentSubject)
                            @Html.ValidationMessageFor(model => model.TreatmentSubject)
                        </div>

                        <label float:right class="description" for="element_1">
                            סטטוס מטופל
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                            @Html.EditorFor(model => model.TreatmentStatusPatient)
                            @Html.ValidationMessageFor(model => model.TreatmentStatusPatient)
                        </div>

                        <label float:right class="description" for="element_1">
                            תיאור טיפול
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                           @Html.TextAreaFor(model => model.TreatmentDescription)
                            @Html.ValidationMessageFor(model => model.TreatmentDescription)
                        </div>

                        <label float:right class="description" for="element_1">
                            סיכום טיפול
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                            @Html.TextAreaFor(model => model.TreatmentSummary)
                            @Html.ValidationMessageFor(model => model.TreatmentSummary)
                        </div>

                        <label float:right class="description" for="element_1">
                            הערות לפגישה הבאה
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                            @Html.TextAreaFor(model => model.NextTreatment)
                            @Html.ValidationMessageFor(model => model.NextTreatment)
                        </div>

                        <label float:right class="description" for="element_1">
                            תאריך טיפול
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                            @Html.EditorFor(model => model.TreatmentDate)
                            @Html.ValidationMessageFor(model => model.TreatmentDate)
                        </div>

                        <label float:right class="description" for="element_1">
                            שעת טיפול
                        </label>
                        <br />
                        <div style="text-align:right; float:right;">
                            <select dir="rtl" class="element select" id="time" name="TreatmentStartTime">
                                <option selected="selected" value="@default_val1">@default_val1</option>
                                <option value="08:00">08:00</option>
                                <option value="09:00">09:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                            </select>
                        </div>
                        <br />
                        <br />

                        <label float:right class="description" for="element_1">
                            מקום טיפול
                        </label>
                        <div float:right; dir="rtl" class="editor-field">
                            @Html.EditorFor(model => model.TreatmentPlace)
                            @Html.ValidationMessageFor(model => model.TreatmentPlace)
                        </div>

                        <label float:right class="description" for="element_1">
                            האם שולם
                        </label>
                        <br />
                        <div style="text-align:right; float:right;">
                            <select dir="rtl" class="element select" id="ispaid" name="IsPaid">
                                <option selected="selected" value="@default_val">@default_val</option>
                                <option value="כן">כן</option>
                                <option value="לא">לא</option>

                            </select>
                        </div>
                        <br />
                        <br />
                        

                        <label float:right class="description" for="element_1">
                            גורם מממן
                        </label>
                        <br />
                        @Html.DropDownList("MyList1", (SelectList)ViewBag.value1, string.Empty, new { @onchange = "CallChangefunc1(this.value)" })<br />
                        <input type="hidden" name="FinancingFactorNumber" value="@Model.FinancingFactorNumber" id="finance" readonly align="right" dir="rtl"><br />

                        <label float:right class="description" for="element_1">
                            מספר הפנייה
                        </label>
                        <br />
                        <input type="text" name="ReferenceNumber" dir="rtl" value="@Model.ReferenceNumber" readonly>

                        <p>
                            <input type="submit" class="btn btn-primary btn-lg" name="submit" value="@submit" />
                        </p>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>

<script>
    function CallChangefunc1(x) {
        document.getElementById("finance").value = x;


    }
</script>
