@model IEnumerable<Eli.ViewModel.Treatment>

@using Eli.Models;
@using Eli.ViewModel;
@using System.Collections.Generic;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/LinkStyle.css" rel="stylesheet" />
    <link href="~/Content/ModalSize.css" rel="stylesheet" />
    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
   
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/themes/base/css")
   
    <meta charset="utf-8">
    <link href='http://serve.fontsproject.com/css?family=Nehama:400'
          rel='stylesheet' type='text/css'>
    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
</head>



<body>
    <script src="~/Scripts/notify.js"></script>
    <script>
        notify('@ViewBag.operate', '@ViewBag.type');
    </script>

    <h3 align="right">
        @Html.ActionLink("מטופלים", "IndexPatients", "Patient", new { n = "" }, new { @class = "link" })
        ->
        @Html.ActionLink("הפניות", "IndexReference", "Reference", new { pid = @ViewBag.Id},new { @class = "link" })
        ->
        טיפולים
</h3>
   

    <div align="right" dir="rtl">
        <h5 align="center" style="color:blue">טיפולים</h5>

        @{String name = ViewBag.Name; }
        <h5>
            <b>טיפולים עבור: @name</b>
            <br />עבור הפניית @ViewBag.Ref 
        </h5>


        <div class="table-responsive">
            <table id="myTable" class="display table table-bordered" >
                <thead>
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th style="text-align: center;">תאריך</th>
                        <th style="text-align: center;">שעה</th>
                        <th style="text-align: center;">מקום</th>
                        <th style="text-align: center;">מטרה </th>
                        <th style="text-align: center;">נושא</th>
                        <th style="text-align: center;">מצב המטופל</th>
                        <th style="text-align: center;">תיאור</th>
                        <th style="text-align: center;">האם שולם?</th>
                        <th style="text-align: center;">עריכה</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in Model)
                    {
                        if (@item.treatment.TreatmentNumber!=0)
                        {
                            <tr>
                                <td> @count </td>
                                <td> @item.treatment.TreatmentDate.Value.ToShortDateString() </td>
                                <td> @item.treatment.TreatmentStartTime.Value</td>
                                <td> @item.treatment.TreatmentPlace </td>
                                <td> @item.treatment.TreatmentGoal</td>
                                <td> @item.treatment.TreatmentSubject </td>
                                <td> @item.treatment.TreatmentStatusPatient </td>
                                <td> @item.treatment.TreatmentDescription </td>
                                <td> @item.treatment.IsPaid </td>
                                <td>
                                    <a class="btn " src="~/Images/info.png" data-toggle="modal" data-target="#@item.treatment.TreatmentNumber">
                                        <img src="~/Images/info.png" />
                                    </a>
                                </td>
                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
            <br /><br />

        </div>
    </div>

    @foreach (Treatment item in Model)
    {
            @Html.Partial("_Treatment", item.treatment, new ViewDataDictionary { { "pid", @ViewBag.Id }, { "MyList1", @ViewBag.value1 }, { "MyList2", @ViewBag.value2 } });  
       
    }

    <!-- Button trigger modal -->
    <br /> <br />
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" style="float:right" data-target="#new">
        הוסף טיפול חדש
    </button>  


    <script>
        var table = $('#myTable').DataTable();
        new $.fn.dataTable.KeyTable(table);
    </script>



</body>

</html>