@model Eli.Models.tblBrotherSister


        @Html.HiddenFor(model => model.BrotherSisterID)
     
   
    <tr>
        <td class="col-sm-1">
            <div class="editor-field">
                <div style="text-align:right; float:right;">
                    <select dir="rtl" class="element select col-sm-12" id="BrotherSisterGender" name="BrotherSisterGender" style="width: 300px; height: 30px">
                        @if (@Model.BrotherSisterGender == "נקבה")
                        {
                            <option selected="selected" value="נקבה">נקבה</option>
                            <option value="זכר">זכר</option>
                        }
                        else
                        {
                            <option selected="selected" value="זכר">זכר</option>
                            <option value="נקבה">נקבה</option>
                        }

                    </select>
                </div>
            </div>
        </td>

        <td class="col-sm-1">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterFirstName, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterFirstName)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterSurName, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterSurName)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterBirthDate, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterBirthDate)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterStudyFramework, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterStudyFramework)
            </div>
        </td>
</tr>

<script>
$("input[data-val-length-max]").each(function (index, element) {
var length = parseInt($(this).attr("data-val-length-max"));
$(this).prop("maxlength", length);
});
</script>