@model Eli.Models.tblBrotherSister

@{
    string default_val1;
    if (@Model.BrotherSisterGender != null)
    {
        default_val1 = @Model.BrotherSisterGender;
    }
    else
    {
        default_val1 = "זכר";
    }
}
        @Html.HiddenFor(model => model.BrotherSisterID)
     
   
    <tr>
        <td class="col-sm-1">
            <div class="editor-field">
                <div style="text-align:right; float:right;">
                    <select dir="rtl" class="element select col-sm-12" id="gender" name="BrotherSisterGender">
                        <option selected="selected" value="@default_val1">@default_val1</option>
                        <option value="זכר">זכר</option>
                        <option value="נקבה">נקבה</option>
                    </select>
                </div>
            </div>
        </td>

        <td class="col-sm-1">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterFirstName, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterFirstName)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterSurName, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterSurName)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterBirthDate, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterBirthDate)
            </div>
        </td>

        <td class="col-sm-2">
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BrotherSisterStudyFramework, new { @class = "col-sm-12" })
                @Html.ValidationMessageFor(model => model.BrotherSisterStudyFramework)
            </div>
        </td>
</tr>

