@model Eli.ViewModel.Family

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<meta charset="utf-8">
<link href='http://serve.fontsproject.com/css?family=Nehama:400'
      rel='stylesheet' type='text/css'>
<link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
<link href='http://serve.fontsproject.com/css?family=David+CLM:500'
      rel='stylesheet' type='text/css'>
<link href="~/Scripts/DataTable/fontTable.css" rel="stylesheet" />
<meta charset="utf-8">

@using Eli.Models;

@{
    
string id = "1" + @Model.Patient.ID;
}
<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:90%; height:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_EditFamily", "Patient", new { pid = @Model.Patient.ID }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Patient)

                    <h4 align="right"><u><b>משפחה</b></u></h4>
                    <h4 align="right">פרטי הורים</h4>

                    if (Model.Parents.Count > 0) { 
                    
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" dir="rtl" style="text-align:center">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">מגדר</th>
                                            <th style="text-align:center">פרטי</th>
                                            <th style="text-align:center">משפחה</th>
                                            <th style="text-align:center">עובד?</th>
                                            <th style="text-align:center">פירוט</th>
                                            <th style="text-align:center">הערות</th>
                                            <th style="text-align:center">עוד</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Parents)
                                        {
                                            @Html.Partial("_Parent", item);
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    }
                    else
                    {
                        <h4 align="right">לא הוכנסו פרטי הורים עבור המטופל</h4>
                    }
                    <h4 align="right">פרטי אחים</h4>
                    
                    if (Model.BrotherSisters.Count > 0) { 
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" dir="rtl" style="text-align:center">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">מגדר</th>
                                            <th style="text-align:center">שם פרטי</th>
                                            <th style="text-align:center">שם משפחה</th>
                                            <th style="text-align:center">תאריך לידה</th>
                                            <th style="text-align:center">מסגרת לימודית</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BrotherSisters)
                                        {
                                            @Html.Partial("_BrotherSister", item);
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h4 align="right">לא הוכנסו פרטי אחים עבור המטופל</h4>
                    }
                    <p dir="rtl">
                        <input type="submit" class="btn btn-primary btn-lg" value="שמור" />
                    </p>
                }

            </div>

        </div>
    </div>
</div>