@model Eli.ViewModel.Family

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using Eli.Models;

@{
    String id = "1" + @Model.Patient.ID;
}
<!-- Modal -->
<div class="modal fade" id="id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%; height:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_EditFamily", "Patient", new { pid = @Model.Patient.ID }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Patient)

                    <h2 align="right">משפחה</h2>
                    <h4 align="right">פרטי הורים</h4>

                    
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" dir="rtl" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">#</th>
                                        <th style="text-align:center">פרטי</th>
                                        <th style="text-align:center">משפחה</th>
                                        <th style="text-align:center">כתובת</th>
                                        <th style="text-align:center">?עובד</th>
                                        <th style="text-align:center">פירוט</th>
                                        <th style="text-align:center">טלפון</th>
                                        <th style="text-align:center">מייל</th>
                                        <th style="text-align:center">הערות</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Parents)
                                    {
                                        @Html.Partial("_Parent", item);
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>

                    <h4 align="right">פרטי אחים</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" dir="rtl" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">אח\ות</th>
                                        <th style="text-align:center">שם פרטי</th>
                                        <th style="text-align:center">שם משפחה</th>
                                        <th style="text-align:center">תאריך לידה</th>
                                        <th style="text-align:center">מסגרת לימודית</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BrotherSisters)
                                    {
                                        @Html.Partial("_BrotherSister", item);
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>
                        <input type="submit" class="btn btn-primary btn-lg" value="שמור" />
                    </p>
                }

            </div>

        </div>
    </div>
</div>