@model Eli.Models.tblParent

@{
    ViewBag.Title = "childs";
}
<h2>@ViewBag.Message</h2>

<h2>childs</h2>

<table>
    <thead>
        <th>תעדות זהות</th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        
        <th>מספר טלפון </th>
        <th>כתובת</th>
        <th>מייל</th>
        <th>האם עובד</th>
        </thead>

        
        {
            <tr>
                <td> @Model.ID </td>
                <td> @Model.FirstName </td>
                <td> @Model.SurName </td>
                
                <td> @Model.ContcatPhoneNumber </td>
                <td> @Model.Address </td>
                <td> @Model.ContactMail </td>
                <td> @Model.IsWorking </td>
            </tr>
        }
    @if (@Model.Address=="")
    {
        <h1>yes</h1>
    }
    @if (@Model.Address=="0")
    {
        <h1>No</h1>
    }

    foreach (var item in Model)
</table>
