@model IEnumerable<Eli.Models.tblPatient>

@{
    ViewBag.Title = "childs";
}

<h2>childs</h2>

<table>
    <thead>
        <td>מייל</td>
        <td>מספר טלפון 2</td>
        <td>מספר טלפון 1</td>
        <td>כתובת</td>
        <td>מסגרת לימודים</td>
        <td>מין</td>
        <td>תאריך לידה</td>
        <td>שם משפחה</td>
        <td>שם פרטי</td>
        <td>תעדות זהות</td>
    </thead>
    <tr>
        @foreach (var item in Model)
        {
            <td> @item.ContactMail </td>
            <td> @item.ContcatPhoneNumber2 </td>
            <td> @item.ContcatPhoneNumber1 </td>
            <td> @(item.City+" "+item.Street+" "+item.HomeNumber) </td>
            <td> @item.EducationalFramework </td>
            <td> @item.Gender </td>
            <td> @item.BirthDate </td>
            <td> @item.PatientSurName </td>
            <td> @item.PatientFirstName </td>
            <td> @item.ID </td>
        }
    </tr>


</table>