@model IEnumerable<Eli.ViewModel.Family>
@using Eli.Models;
@using Eli.ViewModel;
@using System;
@using System.Collections.Generic;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>

    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/themes/base/css")
    <meta charset="utf-8">
    <link href='http://serve.fontsproject.com/css?family=Nehama:400'
          rel='stylesheet' type='text/css'>
    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
    <meta charset="utf-8">
    

   
</head>




<body >
    <b>הודעת תפוצה להורים</b>
    <br />
    <button type="button" style="float: left;" title="שליחת הודעת תפוצה להורים" class="btn btn-default" data-toggle="modal" data-target="#sendtoall">
        <img src="~/Images/Mail_48x48.png" />
    </button>
    <br />
    <h5 align="center" style="color:blue">מטופלים</h5>
    <h4 align="right">:חיפוש</h4>
    <div dir="rtl">
        <table id="myTable" class="display nowrap table-bordered" >
            <thead align="center">
                <tr>
                    <th style="text-align: center;">תעודת זהות</th>
                    <th style="text-align: center;">שם פרטי</th>
                    <th style="text-align: center;">שם משפחה</th>
                    <th style="text-align: center;">טלפון</th>
                    <th style="text-align: center;">פרטים נוספים</th>
                    <th style="text-align: center;">משפחה</th>
                    <th style="text-align: center;">הפניות</th>
                    <th style="text-align: center;">שליחה להורים</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr align="center">
                        <td> @item.Patient.ID </td>
                        <td> @item.Patient.FirstName </td>
                        <td> @item.Patient.SurName </td>
                        <td> @item.Patient.PhoneNumber </td>
                        <td>
                            <a data-toggle="modal" data-target="#@item.Patient.ID">
                                <img src="~/Images/Information_32x32.png" />
                            </a>
                        </td>
                        <td>
                            @{
                                 String id = "1" + @item.Patient.ID;
                            }
                            <a data-toggle="modal" data-target="#@id">
                                <img src="~/Images/Family-32.png" />
                            </a>
                        </td>

                        <td>
                            <a href="@Url.Action("IndexReference", "Reference", new { pid = @item.Patient.ID }, null)">
                                <img src="~/Images/References-32.png" />
                            </a>
                        </td>
                        <td>
                            @{
                    string id1 = "2" + @item.Patient.ID;
                            }
                            <a src="~/Images/info.png" data-toggle="modal" data-target="#@id1">
                                <img src="~/Images/Mail-32.png" />
                            </a>
                        </td>

                    </tr>
                    
                }
            </tbody>
        </table>
    </div>

    @foreach (Family item in Model)
    {
                @Html.Partial("_PopUpPatient", item.Patient);
    }

    @foreach (Family item in Model)
    {
                @Html.Partial("_EditFamily", item);
    }
    @foreach (Family item in Model)
    {

        MailModel m = new MailModel();
       
        m.id = item.Patient.ID;
        m.redirect = "patient";
        m.patientId = item.Patient.ID;
        m.name = item.Patient.FirstName + " " + item.Patient.SurName;
        @Html.Partial("_MailToPatient", m);

    }

    @{MailModel mail = new MailModel();
      mail.redirect = "patient";
      @Html.Partial("_MailToAll", mail)
    }
    
    <script>

        var table = $('#myTable').DataTable();
        new $.fn.dataTable.KeyTable(table);

    </script>

</body>

</html>




