@using Eli.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrapcss")

    <script src="~/Content/themes/Form/view.js"></script>
    <link href="~/Content/themes/Form/view.css" rel="stylesheet" />
    <script src="~/Content/themes/Form/calendar.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body onload="initialize()">
    <div class="wizard">
        <div class="step active">
            some information
        </div>
        <div class="step" style="display:none">
            Step 2 info
        </div>
        <div class="step" style="display:none">
            Step 3 info
        </div>

        <input type="button" class="prev" style="display: none" value="Previous" />
        <input type="button" class="next" value="Next" />
    </div>



    <script type="text/javascript">
        $(function () {
            $('.wizard .prev').click(function () {
                var wizard = $(this).parent('.wizard');

                $('.step.active', wizard).hide();

                var currentStep = $('.step.active', wizard);
                currentStep.hide();
                currentStep.removeClass('active');

                var newStep = currentStep.prev('.step', wizard);
                newStep.addClass('active');
                newStep.show();

                if ($('.step:first', wizard)[0] == newStep[0]) {
                    $(this).hide();
                }

                $('.next', wizard).show();
            });

            $('.wizard .next').click(function () {
                var wizard = $(this).parent('.wizard');

                $('.step.active', wizard).hide();

                var currentStep = $('.step.active', wizard);
                currentStep.hide();
                currentStep.removeClass('active');

                var newStep = currentStep.next('.step', wizard);
                newStep.addClass('active');
                newStep.show();

                if ($('.step:last', wizard)[0] == newStep[0]) {
                    $(this).hide();
                }

                $('.prev', wizard).show();
            });
        });
    </script>
    @Html.BeginForm(){
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
                <ul class=" nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation">
                        <a href="#reference" aria-controls="reference" role="tab" data-toggle="tab">
                            <h4 class="list-group-item-heading" dir="rtl">שלב 3</h4>
                            <p class="list-group-item-text">פתיחת פנייה</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#moreDetails" aria-controls="moreDetails" role="tab" data-toggle="tab">
                            <h4 class="list-group-item-heading" dir="rtl">שלב 2</h4>
                            <p class="list-group-item-text">פרטים נוספים</p>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
                            <div class="form_description" style="text-align:center;">
                                <h4 class="list-group-item-heading" dir="rtl">שלב 1</h4>
                                <p class="list-group-item-text">פרטים אישים</p>
                            </div>
                                
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane " id="personal">
                @Html.Partial("_Patient",new tblPatient())
            </div>

            <div role="tabpanel" class="tab-pane" id="moreDetails">

            </div>

            <div role="tabpanel" class="tab-pane" id="reference">

               
            </div>
        </div>
    }


    


</body>

</html>
