@model Eli.Models.tblPatient
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div align="right">
        <h2>פרטי מטופל</h2>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">תעודת זהות</h4>
                <p class="list-group-item-text">@Model.ID</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">שם פרטי</h4>
                <p class="list-group-item-text">@Model.PatientFirstName</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">שם משפחה</h4>
                <p class="list-group-item-text">@Model.PatientSurName</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">תאריך לידה</h4>
                <p class="list-group-item-text">@Model.BirthDate</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מגדר</h4>
                <p class="list-group-item-text">@Model.Gender</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מסגרת חינוכית</h4>
                <p class="list-group-item-text">@Model.EducationalFramework</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">עיר</h4>
                <p class="list-group-item-text">@Model.City</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">רחוב</h4>
                <p class="list-group-item-text">@Model.Street</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מספר בית</h4>
                <p class="list-group-item-text">@Model.HomeNumber</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מספר טלפון 1</h4>
                <p class="list-group-item-text">@Model.ContcatPhoneNumber1</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מספר טלפון 2</h4>
                <p class="list-group-item-text">@Model.ContcatPhoneNumber2</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מייל</h4>
                <p class="list-group-item-text">@Model.ContactMail</p>
            </a>
        </div>
    </div>

</body>

<div align="right">
    <img src="~/Images/go-back-button.png" height="40" width="100" onclick="back()">
</div>

<script>
    function back() {


        window.location = ' @Url.Action("MainPatients", "Patient")';
    }

</script>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">תעודת זהות</h4>
                        <p class="list-group-item-text">@Model.ID</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">שם פרטי</h4>
                        <p class="list-group-item-text">@Model.PatientFirstName</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">שם משפחה</h4>
                        <p class="list-group-item-text">@Model.PatientSurName</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">תאריך לידה</h4>
                        <p class="list-group-item-text">@Model.BirthDate</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">מגדר</h4>
                        <p class="list-group-item-text">@Model.Gender</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">מסגרת חינוכית</h4>
                        <p class="list-group-item-text">@Model.EducationalFramework</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">עיר</h4>
                        <p class="list-group-item-text">@Model.City</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">רחוב</h4>
                        <p class="list-group-item-text">@Model.Street</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">מספר בית</h4>
                        <p class="list-group-item-text">@Model.HomeNumber</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">מספר טלפון 1</h4>
                        <p class="list-group-item-text">@Model.ContcatPhoneNumber1</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">מספר טלפון 2</h4>
                        <p class="list-group-item-text">@Model.ContcatPhoneNumber2</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">מייל</h4>
                        <p class="list-group-item-text">@Model.ContactMail</p>
                    </a>
                </div>
            </div>
           
        </div>
    </div>
</div>

</html>


