@model Eli.Models.Reference
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>

    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="~/Scripts/DataTable/ModalSize.less" rel="stylesheet" />
</head>
<body>
    <h4 align="center">הפניות עבור מטופל בעל ת"ז:  </h4>
    <h4 align="center">@Model.r.ElementAt(0).PatientID  </h4>

    <h4 align="right">:חיפוש</h4>
    <div class="table-responsive">
        <table id="myTable" class="display table" width="100%">
            <thead>
                <tr>
                    <th>הצג טיפולים עבור הפנייה זו</th>

                    <th>כיצד הגיע</th>
                    <th>סוג פגיעה</th>
                    <th>תיאור</th>
                    <th>סטטוס הפניה</th>
                    <th>מספר הפנייה</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.r.ToList())
                {
                    <tr>


                        <td>
                            <a href="@Url.Action("TreatByReference", "Patient", new { idRef = item.ReferenceNumber, pId = item.PatientID })" title="info">
                                <img src="~/Images/info.png" />
                            </a>
                        </td>
                        <td> @item.ReferenceSource </td>
                        <td> @item.AbuseType </td>
                        <td> @item.OtherStatus </td>
                        <td> @item.StatusReference </td>
                        <td> @item.ReferenceNumber</td>
                    </tr>
                }
            </tbody>
        </table>


        <div align="right">
            <img src="~/Images/go-back-button.png" height="40" width="100" onclick="location.href='@Url.Action("PatientDetails", "Patient", new { id =Model.r.ElementAt(0).PatientID })'" />
        </div>



        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            הצג את כל הטיפולים בעמוד אחד
        </button>


</body>

<script>


    var table = $('#myTable').DataTable();
    new $.fn.dataTable.KeyTable(table);

</script>














<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" align="center" id="myModalLabel">
                    כל הטיפולים עבור מטופל בעל ת"ז"
                    @Model.r.ElementAt(0).PatientID
                </h4>
            </div>
            <div class="modal-body">
                <table id="myTable" class="display table" width="100%">
                    <thead>
                        <tr>
                            <th>שם משפחה מטפל</th>
                            <th>שם פרטי מטפל</th>
                            <th>ת"ז מטפל</th>
                            <th>גורם מממן</th>
                            <th>האם שולם?</th>
                            <th>מקום</th>
                            <th>שעת התחלה</th>
                            <th>תיאור טיפול</th>
                            <th>מטרת טיפול</th>
                            <th>מס הפניה</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.tr.ToList().Count; i++)
                        {
                            <tr>


                                <td> @Model.th.ElementAt(i).TherapistSurName </td>
                                <td> @Model.th.ElementAt(i).TherapistFirstName </td>
                                <td> @Model.th.ElementAt(i).ID </td>
                                <td> @Model.tr.ElementAt(i).FinancingFactorNumber </td>

                                <td> @Model.tr.ElementAt(i).IsPaid </td>
                                <td> @Model.tr.ElementAt(i).Place </td>
                                <td> @Model.tr.ElementAt(i).StartTime </td>
                                <td> @Model.tr.ElementAt(i).TreatmentDescription </td>
                                <td> @Model.tr.ElementAt(i).TreatmentGoal </td>
                                <td> @Model.tr.ElementAt(i).TreatmentNumber </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



</html>
