@{ Layout = "";}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/bootstrapcss")
@Scripts.Render("~/bundles/modernizr")

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" dir="rtl">
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    Dropdown <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a href="@Url.Action("Step1", "WizardFormPatient")" aria-controls="settings" role="tab" data-toggle="tab">מטופל חדש</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="active"><a href="@Url.Action("IndexPatients", "Patient")" aria-controls="home" role="tab" data-toggle="tab">מטופלים</a></li>
                            <li role="presentation"><a href="@Url.Action("IndexPatients", "Patient") aria-controls=" profile" role="tab" data-toggle="tab">יומן פגישות</a></li>
                            <li role="presentation"><a href="@Url.Action("IndexTherapist", "Therapist")" role="tab" data-toggle="tab">מטפלים</a></li>
                            <li role="presentation"><a href="@Url.Action("IndexFinancingFactor", "FinanceFactor")" aria-controls="settings" role="tab" data-toggle="tab">גורמים מממנים</a></li>

                        </ul>