@model Eli.Models.TreatByRef
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>

    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />



</head>
<body>
    <h4 align="center">@Model.pId :מטופל מספר </h4>
    <h4 align="center">@Model.rId:הפניה מס </h4>
    <h4 align="right">:חיפוש</h4>
    <div class="table-responsive">
        <table id="myTable" class="display table" width="100%">
            <thead>
                <tr>

                    <th>שם משפחה מטפל</th>
                    <th>שם פרטי מטפל</th>
                    <th>ת"ז מטפל</th>
                    <th>גורם מממן</th>
                    <th>האם שולם</th>
                    <th>מקום טיפול</th>
                    <th>שעת התחלה</th>
                    <th>תיאור טיפול</th>
                    <th>מטרת טיפול</th>
                    <th>מספר טיפול</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.tr.ToList().Count; i++)
                {
                    <tr>
                        <td> @Model.th.ElementAt(i).TherapistSurName </td>
                        <td> @Model.th.ElementAt(i).TherapistFirstName </td>
                        <td> @Model.th.ElementAt(i).ID </td>
                        <td> @Model.tr.ElementAt(i).FinancingFactorNumber </td>

                        <td> @Model.tr.ElementAt(i).IsPaid </td>
                        <td> @Model.tr.ElementAt(i).Place </td>
                        <td> @Model.tr.ElementAt(i).StartTime </td>
                        <td> @Model.tr.ElementAt(i).TreatmentDescription </td>
                        <td> @Model.tr.ElementAt(i).TreatmentGoal </td>
                        <td> @Model.tr.ElementAt(i).TreatmentNumber </td>
                    </tr>
                }
            </tbody>
        </table>

        <div align="right">
            <img src="~/Images/go-back-button.png" height="40" width="100" onclick="location.href='@Url.Action("Reference", "Patient", new { id=Model.pId})'" />
        </div>
</body>




<script>


    var table = $('#myTable').DataTable();
    new $.fn.dataTable.KeyTable(table);

</script>









</html>


