<!DOCTYPE html>
<html lang="en">
    
<body onload="changedReportView()">

    @using Eli.Models;
    @{  EliManagerDB db = new EliManagerDB();}

    @using (Html.BeginForm("SelectReport", "Report"))
    {
        <div class="modal-header">
            <div class="medium" align="center">דו"חות</div>
        </div>
        <div class="modal-body" dir="rtl">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <select dir="rtl" class="element select" id="reportName" name="reportName" style="width: 300px; height: 30px" onchange="changedReport(id)">
                @{
                    int countRepor = 0;
                    foreach (string item in db.getAllReportNames())
                    {
                        <option value="@countRepor" id="@countRepor">@item</option>
                        countRepor++;
                    }
                }
            </select>
            <br />
            <div style="visibility:hidden;" id="patientByFF">
                <div class="small" align="right">בחר גורם מממן</div>
                <select dir="rtl" class="element select" id="patientByFF" name="ffParam" style="width: 300px; height: 30px;">
                    @{
                        <option value="הכל">הכל</option>
                        foreach (tblFinancingFactor item in db.getAllFinanceFactor())
                        {
                            <option value="@item.FinancingFactorName">@item.FinancingFactorName</option>
                        }
                    }
                </select>
            </div>
            <br />
            <button type="submit" value="Next" dir="rtl" name="nextBtn" class="btn btn-primary" onmouseover="changedReport(id)">בחר </button>
        </div>

    }

    <script>
        function changedReportView() {
            var id = "reportName";
            changedReport(id);
        }

        function changedReport(id) {
            var msg = document.getElementById(id).value;
            switch (msg) {
                case "0": document.getElementById("patientByFF").style.visibility = "hidden";
                    break;
                case "1": document.getElementById("patientByFF").style.visibility = "visible";
                    break;
                case "2": document.getElementById("patientByFF").style.visibility = "hidden";
                    break;
                case "3": document.getElementById("patientByFF").style.visibility = "hidden";
                    break;
                default:
            }

        }
    </script>

</body>

</html>


