@using Eli.Models;

@{  EliManagerDB db = new EliManagerDB();}

@using (Html.BeginForm("SelectReport", "Report"))
{
    <div class="modal-header">
        <div class="medium" align="center">דו"חות</div>
    </div>
    <div class="modal-body" dir="rtl">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.Partial("_ReportOptions");
            <br />
            <div class=" small" align="right">בחר גורם מממן</div>
            <select dir="rtl" class="element select" id="patientByFF" name="reportName" style="width: 300px; height: 30px;">
                @{
                    <option value="0">ללא</option>
                        int count = 1;
                        foreach (tblFinancingFactor item in db.getAllFinanceFactor())
                        {
                            <option value="@count">@item.FinancingFactorName</option>
                            count++;
                        }
                }
            </select>
        </fieldset>
        <br /><br />
        <button type="submit" value="Next" dir="rtl" name="nextBtn" class="btn btn-primary">בחר </button>
    </div>
}

