@model IEnumerable<Eli.ViewModel.PatientByFinanceFactor>

<div class="links">
    @Html.ActionLink("דוחות", "IndexReport", "Report", new { n = "" }, new { @class = "link" })
    ->
     מטופלים עפ"י גורמים מממנים 
</div>



@{if (Model.Count() > 0)
{
        string title="";
        if (ViewBag.FinancingFactorName == "הכל"){
            title = "רשימת מטופלים עפ''י גורמים מממנים";
        }
        else { 
            title = "רשימת מטופלים עבור "+ ViewBag.FinancingFactorName;
        }
        
        <div class="medium" style="text-align:center;">@title</div>
        <table class="table table-bordered" dir="rtl">
            <tr align="center">
                <th style="text-align: center;">גורם מממן</th>
                <th style="text-align: center;">סוג</th>
                <th style="text-align: center;">ת"ז</th>
                <th style="text-align: center;">שם</th>
            </tr>
   
                @foreach (var item in Model)
                {
                    <tr align="center">
                        @{if (item.FinancingFactor.FinancingFactorName == ""){
                            <td><b>ללא גורם מממן</b></td>
                        }
                        else{
                            <td><b>@item.FinancingFactor.FinancingFactorName</b></td>
                        }
                        }
                        <td><b>@item.FinancingFactor.FinancingFactorType</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    foreach (var pat in item.Patients) {
                        string name = pat.FirstName + " " + pat.SurName;
                        <tr>
                            <td></td>
                            <td></td>
                            <td>@pat.ID</td>
                            <td>@name</td>
                        </tr>
                    }
                }
       
            }
        </table>
}
  else
  {
    <div class="medium" style="text-align:center;"> עבור @ViewBag.FinancingFactorName לא קיימים מטופלים  </div>
  }
  
}
                          <button type="button"  onclick="location.href='@Url.Action("PatByFinanceExcel", "Excel", new { name = @Model })'"> ייבוא דוח לקובץ אקסל</button>




