@model Eli.Models.tblFinancingFactor

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@{  
    string id;
    string submit;
    if (@Model.FinancingFactorNumber == 0)
    {
        id = "new";
        submit = "צור";
    }
    else
    {
        id = @Model.FinancingFactorNumber.ToString();
        submit = "שמור";
    }
}

@{
    string default_val;
    if (@Model.FinancingFactorType != null)
    {
        default_val = @Model.FinancingFactorType;
    }
    else
    {
        default_val = "פרטי";
    }
}



<!-- Modal -->
<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 align="right " class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

    <fieldset align="right">
        <legend>tblFinancingFactor</legend>

        @Html.HiddenFor(model => model.FinancingFactorNumber)

        <label float:right class="description" for="element_1">
            שם גורם מממן
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <fieldset>
            <div style="text-align:right; float:right;">
                <select dir="rtl" class="element select" id="type" name="type">



                    <option selected="selected" value="@default_val">@default_val</option>
                    <option value="פרטי">פרטי</option>
                    <option value="עירייה">עירייה</option>
                    <option value="קרן">קרן</option>
                    <option value="מערכת חינוך">מערכת חינוך</option>
                    <option value="פרויקט">פרויקט</option>
                    <option value="פנימייה">פנימייה</option>



                </select>
                </div>


</fieldset>
        

        <label float:right class="description" for="element_1">
            שם איש קשר
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ContactName)
            @Html.ValidationMessageFor(model => model.ContactName)
        </div>

        <label float:right class="description" for="element_1">
            טלפון איש קשר
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ContcatPhoneNumber)
            @Html.ValidationMessageFor(model => model.ContcatPhoneNumber)
        </div>

        <label float:right class="description" for="element_1">
            מייל איש קשר
        </label>
        <div float:right; dir="rtl" class="editor-field">
            @Html.EditorFor(model => model.ContactMail)
            @Html.ValidationMessageFor(model => model.ContactMail)
        </div>

        <p>
            <input type="submit" name="submit" value="@submit" />
        </p>
    </fieldset>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#type1').val('Holiday');
    });
</script>