@model Eli.Models.tblFinancingFactor
@using Eli.Models

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<link href="~/Content/ModalSize.css" rel="stylesheet" />
<link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
<meta charset="utf-8">
<link href='http://serve.fontsproject.com/css?family=Nehama:400'
      rel='stylesheet' type='text/css'>
@{  
    EliManagerDB db = new EliManagerDB();
    string id;
    string submit;
    string str;
    if (@Model.FinancingFactorNumber == 0)
    {
        
        id = "new";
        submit = "צור";
        str = "הוספת גורם מממן חדש";
    }
    else
    {
        id = @Model.FinancingFactorNumber.ToString();
        submit = "שמור";
        str = "עריכת גורם מממן: "+@Model.FinancingFactorName ;
    }
}



<!-- Modal -->
<div  id="myModal">
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:83%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 align="right " class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        <h3 align="right"><u><b>@str </b></u></h3>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset align="right" dir="rtl">
                            @Html.HiddenFor(model => model.FinancingFactorNumber)
                            <table>
                                <tr>
                                    <td>
                                        <label float:right class="description" for="element_1">
                                            שם גורם מממן
                                        </label>
                                    </td>
                                    <td style="padding-right:2%;">
                                        <label float:right class="description" for="element_1">
                                            סוג גורם מממן
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div float:right; dir="rtl" class="editor-field">
                                            @Html.EditorFor(model => model.FinancingFactorName)
                                            @Html.ValidationMessageFor(model => model.FinancingFactorName)
                                        </div>
                                    </td>
                                    <td style="padding-right:2%;">
                                        <div style="text-align:right; float:right;">
                                            <select dir="rtl" class="element select" id="FinancingFactorType" name="FinancingFactorType" style="width: 300px; height: 30px">
                                                @{foreach (string s in db.getAllFinancingFactorType())
                                                {
                                                    if (s == Model.FinancingFactorType)
                                                    {
                                                        <option selected="selected" value="@s">@s</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@s">@s</option>
                                                    }
                                                }
                                                }
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <label float:right class="description" for="element_1">
                                כתובת גורם מממן
                            </label>
                            <div float:right; dir="rtl" class="editor-field">
                                @Html.EditorFor(model => model.FinancingFactorAddress)
                                @Html.ValidationMessageFor(model => model.FinancingFactorAddress)
                            </div>

                            <table>
                                <thead>
                                    <tr>
                                        <td>
                                            <label float:right class="description" for="element_1">
                                                <u>איש קשר:</u>
                                            </label>
                                        </td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <label class="description" for="element_1">
                                            שם
                                        </label>
                                    </td>
                                    <td style="padding-right:2%;">
                                        <label class="description" for="element_1">
                                            טלפון
                                        </label>
                                    </td>
                                    <td style="padding-right:2%;">
                                        <label class="description" for="element_1">
                                            מייל
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div dir="rtl" class="editor-field">
                                            @Html.EditorFor(model => model.FinancingFactorContactName)
                                            <br />
                                            @Html.ValidationMessageFor(model => model.FinancingFactorContactName)
                                        </div>
                                    </td>
                                    <td style="padding-right:2%;">
                                        <div dir="rtl" class="editor-field">
                                            @Html.EditorFor(model => model.FinancingFactorContcatPhoneNumber, new { StringLength = 10 })
                                            <br />
                                            @Html.ValidationMessageFor(model => model.FinancingFactorContcatPhoneNumber)
                                        </div>
                                    </td>
                                    <td style="padding-right:2%;">
                                        <div dir="rtl" class="editor-field">
                                            @Html.EditorFor(model => model.FinancingFactorContactMail)
                                            <br />
                                            @Html.ValidationMessageFor(model => model.FinancingFactorContactMail)
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <p>
                                <input type="submit" class="btn btn-primary btn-lg" name="submit" value="@submit" />
                            </p>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#type1').val('Holiday');
    });
</script>
<script>
    $("input[data-val-length-max]").each(function (index, element) {
        var length = parseInt($(this).attr("data-val-length-max"));
        $(this).prop("maxlength", length);
    });
</script>