@model Eli.Models.tblFinancingFactor
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Button trigger modal -->

    <div class="bs-example">



</head>
<body>



    <div align="right">
        <h2>פרטי מטופל</h2>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מספר גורם</h4>
                <p class="list-group-item-text">@Model.FinancingFactorNumber</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">שם גורם</h4>
                <p class="list-group-item-text">@Model.Name</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">סוג גורם</h4>
                <p class="list-group-item-text">@Model.FinancingFactorType</p>
            </a>

            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">שם איש קשר</h4>
                <p class="list-group-item-text">@Model.ContactName</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">טלפון איש קשר</h4>
                <p class="list-group-item-text">@Model.ContcatPhoneNumber</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">מייל איש קשר</h4>
                <p class="list-group-item-text">@Model.ContactMail</p>
            </a>

        </div>
    </div>
</body>



<div align="right">
    <img src="~/Images/go-back-button.png" height="40" width="100" onclick="back()">
</div>

<script>
    function back() {
        window.history.back()
    }
</script>


</html>

