@model IEnumerable<Eli.Models.tblFinancingFactor>
@using Eli.Models;
@using System;
@using System.Collections.Generic;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/bootbox.min.js"></script>
    <link href="~/Content/ModalSize.css" rel="stylesheet" />
</head>


<body>
    <h4 class="small"><b>הודעת תפוצה</b></h4>
  
    <button id="mail" type="button" style="float: left;" title="שליחת הודעת תפוצה לגורמים מממנים" class="btn btn-default" data-toggle="modal" data-target="#sendtoall">
        <img src="~/Images/Mail_48x48.png" />
    </button>
    
    <div class="big">גורמים מממנים</div>
    <div class="small" align="right"><b>:חיפוש</b></div>



        <div dir="rtl">

            <table id="myTable" class="display nowrap table-bordered">

                <thead align="center">
                    <tr>
                        <th style="text-align: center;"></th>
                        <th style="text-align: center;">שם</th>
                        <th style="text-align: center;">סוג</th>
                        <th style="text-align: center;">איש קשר</th>
                        <th style="text-align: center;">טלפון</th>
                        <th style="text-align: center;">פרטים נוספים</th>
                        <th style="text-align: center;">שליחה מייל</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (@item.FinancingFactorNumber != 0)
                        {
                            <tr align="center">
                                <td> @item.FinancingFactorNumber </td>
                                <td> @item.FinancingFactorName </td>
                                <td> @item.FinancingFactorType </td>
                                <td> @item.FinancingFactorContactName</td>
                                <td> @item.FinancingFactorContcatPhoneNumber</td>
                                <td>
                                    <a data-toggle="modal" href="#@item.FinancingFactorNumber">
                                        <img src="~/Images/Information_32x32.png" />
                                    </a>
                                </td>
                                <td>
                                    @{
                            string id = "1" + @item.FinancingFactorNumber;
                                    }
                                    <a data-toggle="modal" href="#@id">
                                        <img src="~/Images/Mail-32.png" />
                                    </a>
                                </td>

                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        @foreach (tblFinancingFactor item in Model)
        {
            @Html.Partial("_FinancingFactor", item);

                                                   MailModel m = new MailModel();
                                                   m.To = item.FinancingFactorContactMail;
                                                   m.id = "" + item.FinancingFactorNumber;
                                                   m.redirect = "finance";
                                                   m.name = item.FinancingFactorName;
                                                @Html.Partial("_mail", m);
        }
        @{MailModel mail = new MailModel();

        mail.redirect = "finance";
        @Html.Partial("_MailToAll", mail)
        }

        <!-- Button trigger modal -->
        <br />
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" style="float:right" data-target="#new">
            הוסף גורם מממן למערכת
        </button>
        <br />

        <script>

            var table = $('#myTable').DataTable();
            new $.fn.dataTable.KeyTable(table);

        </script>
        <script type="text/javascript">
            function deleteConfirm(id) {



            }

        </script>
        
    <script>
        $("#mail").click(function () {

            $("#btn1").removeAttr('disabled');
        });
    </script>


        @{ if (ViewBag.operate != null)
         {
            <script src="~/Scripts/notify.js"></script>
            <script>
                alert("@ViewBag.operate")
                //notify('@ViewBag.operate', '@ViewBag.type');
            </script>
         }
        }
</body>
</html>
