@model IEnumerable<Eli.Models.tblFinancingFactor>
@using Eli.Models;
@using System;
@using System.Collections.Generic;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Content/bootbox.min.js"></script>
    <link href="~/Content/ModalSize.css" rel="stylesheet" />
    @Styles.Render("~/Content/bootstrapcss")
        @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <script src="~/Scripts/notify.js"></script>
    <script>
        notify('@ViewBag.operate', '@ViewBag.type');
    </script>

    <button type="button" style="float: left;" title="שליחת הודעת תפוצה לגורמים מממנים" class="btn btn-default" data-toggle="modal" data-target="#sendtoall">
        <img src="~/Images/broadCastMail.PNG" />
    </button>
    <br />
    <h2 align="center" style="color:blue">גורמים מממנים</h2>
    <h4 align="right">:חיפוש</h4>
   
   
        
        <div dir="rtl">


            <table id="myTable" class="display nowrap table-bordered">
                
                <thead align="center">

                    <tr>
                        <th style="text-align: center;"></th>
                        <th style="text-align: center;">שם</th>
                        <th style="text-align: center;">סוג</th>
                        <th style="text-align: center;">איש קשר</th>
                        <th style="text-align: center;">טלפון</th>
                        <th style="text-align: center;">עריכת פרטים</th>
                        <th style="text-align: center;">שליחה מייל</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (@item.FinancingFactorNumber != 0)
                        {
                            <tr align="center">
                                <td> @item.FinancingFactorNumber </td>
                                <td> @item.FinancingFactorName </td>
                                <td> @item.FinancingFactorType </td>
                                <td> @item.FinancingFactorContactName</td>
                                <td> @item.FinancingFactorContcatPhoneNumber</td>
                                <td>
                                    <a  data-toggle="modal" data-target="#@item.FinancingFactorNumber">
                                        <img src="~/Images/edit.png" />
                                    </a>
                                </td>
                                <td>
                                    @{
                                        string id = "1" + @item.FinancingFactorNumber;
                                    }
                                    <a  data-toggle="modal" data-target="#@id">
                                        <img src="~/Images/Mail-32.png" />
                                    </a>
                                </td>


                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
        @foreach (tblFinancingFactor item in Model)
        {
            @Html.Partial("_FinancingFactor", item);
        }

        @foreach (tblFinancingFactor item in Model)
        {
            MailModel m = new MailModel();
            m.To = item.FinancingFactorContactMail;
            m.id = ""+item.FinancingFactorNumber;
            m.redirect = "finance";
            @Html.Partial("_mail", m);
        }
        @{MailModel mail=new MailModel();
          
          mail.redirect="finance";
          }
        @Html.Partial("_MailAllFinance", mail);

        <!-- Button trigger modal -->
        <br /> <br />
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" style="float:right" data-target="#new">
            הוסף גורם מממן למערכת
        </button>


        <script>

            var table = $('#myTable').DataTable();
            new $.fn.dataTable.KeyTable(table);

        </script>
        <script type="text/javascript">
            function deleteConfirm(id) {



            }

        </script>
</body>





</html>
