@model IEnumerable<Eli.Models.tblFinancingFactor>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/DataTable/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTable/jquery.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTable/dataTables.keyTable.css" rel="stylesheet" />
    <link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/ModalSize.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/themes/base/css")


</head>
<body>
    <h4 align="center">:מיקומך במערכת</h4>
    <h4 align="center">@Html.ActionLink(" רשימת מטופלים", "MainPatients", "Patient") </h4>
    <h4 align="right">:חיפוש</h4>

    <table id="myTable" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>מחיקה</th>
                <th>עריכה</th>
                <th>מייל איש קשר</th>
                <th>טלפון איש קשר</th>
                <th>שם איש קשר</th>

                <th>סוג גורם</th>
                <th>שם גורם</th>
                <th>מס גורם</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        <a href="@Url.Action("DeleteFinancingFactor", "FinanceFactor", new { id = item.FinancingFactorNumber })" title="delete">
                            <img src="~/Images/delete.png" />
                        </a>
                    </td>

                     <td>
                        <a href="@Url.Action("EditFinanceFactor", "FinanceFactor", new { id = item.FinancingFactorNumber })" title="edit">
                            <img src="~/Images/edit.png" />
                        </a>
                    </td>
                    <td> @item.ContactMail </td>
                    <td> @item.ContcatPhoneNumber </td>
                    <td> @item.ContactName </td>

                    <td> @item.FinancingFactorType </td>
                    <td> @item.Name </td>
                    <td> @item.FinancingFactorNumber </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="button" title="Delete" value="הוסף גורם מממן חדש" onclick="location.href='@Url.Action("NewFinanceFactor", "FinanceFactor")'" />

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal"
            data-target="#myModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        This Modal title
                    </h4>
                </div>
                <div class="modal-body">
                    <body id="main_body">


                        <div id="form_container">


                            <form id="form_981481" class="appnitro" method="post" action="http://localhost:58903/FinanceFactor/AddFinanceFactor">
                                <div align="right" class="form_description">
                                    <h2>הוספת גורם מממן חדש למערכת</h2>

                                </div>
                                <ul>


                                    <div style="text-align:right; float:right;">
                                        <label class="description" for="element_1">
                                            שם גורם מממן
                                        </label>
                                        <div>
                                            <input id="Name" name="Name" class="element text " type="text" maxlength="255" value="" />
                                        </div>
                                    </div>


                                    <div style="text-align:right; float:right;">
                                        <label class="description" for="element_2">סוג גורם ממן </label>
                                        <div>
                                            <select dir="rtl" class="element select" id="type" name="type">
                                                <option value="" selected="selected"></option>
                                                <option value="פרטי">פרטי</option>
                                                <option value="עירייה">עירייה</option>
                                                <option value="קרן">קרן</option>
                                                <option value="מערכת">מערכת חינוך</option>
                                                <option value="פרויקט">פרויקט</option>
                                                <option value="פנימייה">פנימייה</option>

                                            </select>
                                        </div>
                                    </div>


                                    <div style="text-align:right; float:right;">
                                        <label align="right" class="description" for="element_3">שם איש קשר </label>
                                        <div>
                                            <input align="right" id="contactname" name="contactname" class="element text " type="text" maxlength="255" value="" />
                                        </div>
                                    </div>


                                    <div style="text-align:right; float:right;">
                                        <label align="right" class="description" for="element_4">טלפון איש קשר </label>
                                        <div>
                                            <input id="phone" name="phone" class="element text " type="text" maxlength="255" value="" />
                                        </div>
                                    </div>


                                    <div style="text-align:right; float:right;">
                                        <label align="right" class="description" for="element_5">דוא"ל איש קשר </label>
                                        <div>
                                            <input id="mail" name="mail" class="element text " type="text" maxlength="255" value="" />
                                        </div>
                                    </div>


                                    <input id="saveForm" class="btn btn-primary" type="submit" style="float:right" name="submit" value="שלח" />


                                </ul>
                            </form>

                        </div>

                    </body>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>





</body>


<script>


    var table = $('#myTable').DataTable();
    new $.fn.dataTable.KeyTable(table);

</script>





<script>
    function PatientDetails(id) {



        window.location = ' @Url.Action("PatientDetails", "Patient", new { id ="222222222" })';

    }

</script>







</html>
