@model Eli.Models.tblEvent
@using Eli.Models
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/ModalSize.css" rel="stylesheet" />
<meta charset="utf-8">
@{
    EliManagerDB db = new EliManagerDB();
    string id;
    string submit;
    string str;
    if (@Model.EventNum==0)
    {

        id = "new";
        submit = "צור";
        str = "הוספת אירוע חדש";
    }
    else
    {
        id = @Model.EventNum.ToString();
        submit = "שמור";
        str = "עריכת אירוע מספר: " + @Model.EventNum;
    }
}

<!-- Modal -->
<div id="myModal">
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:75%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 align="right " class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        <fieldset align="right" dir="rtl">
                            <legend>tblTreatment</legend>
                            @Html.HiddenFor(model => model.EventNum)

                            <div class="medium" align="right"><u><b>@str </b></u></div>
                            <label float:right class="description" for="element_1">
                                תאריך
                            </label>
                            <div float:right; dir="rtl" class="editor-field">
                                @Html.EditorFor(model => model.EventDate)
                                @Html.ValidationMessageFor(model => model.EventDate)
                            </div>

                            <label float:right class="description" for="element_1">
                                שעה
                            </label>
                            <br />
                            <td style="padding-right:2%;">
                                <div float:right; dir="rtl" class="editor-field">

                                    @Html.EditorFor(model => model.EventTime)
                                    @Html.ValidationMessageFor(model => model.EventTime)
                                </div>
                            </td>
                            <br />

                            <label float:right class="description" for="element_1">
                                תיאור
                            </label>
                            <div float:right; dir="rtl" class="editor-field">
                                @Html.TextAreaFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>

                            <br />
                            <p>
                                <input type="submit" class="btn btn-primary btn-lg" name="submit" value="@submit" />
                            </p>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>